/**
 * Mini search block styles.
 */
#block-nys_mini_search-0  {
  margin-bottom: 0px;
  float: left;
  width: 160px;
  padding: 5px 0 0;
}

#block-nys_mini_search-0 .form-submit {
  background: url('search.jpg') 0 0 no-repeat #000;
  color: #fff;
  height: 25px;
  width: 25px;
  font-size: 0x; /* IE6 hack */
  line-height: 0; /* IE6 hack */
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-indent: -10000px;
}

#block-nys_mini_search-0 .form-submit:hover {
  color: #FABE50;
}

#block-nys_mini_search-0 #edit-nys-mini-search-block-form-1-wrapper {
  float: left;
  margin: 0;
}

#block-nys_mini_search-0 #edit-nys-mini-search-block-form-1-wrapper input {
  font-size: 11px;
  height: 21px;
  width: 90px;
  margin: 3px 4px 0 30px;
  padding: 4px;
}
