/*
by default, the default form adds some surrounding space, this cancels it
*/
.content #user-login-form div.form-item,
.content #user-login-form div.content {
  margin: 0; padding: 0;
}

/*
this adds some space in top and bottom, so anything inside can look vertically
centered
*/
#user-login-form {
  padding: .65em 0;
  margin-top:30px;
  width:370px;
}

/*
by default, fields labels tries to reserve a whole line for itself, this
cancels that and and sends it to the left.
it also adds some space on the right and left of the label to look easy on
the eye.
*/
#user-login-form label {
  float: left;
  margin-left: 10px;
  margin-right: 2px;
}

/*
inputs too, they try to reserve a whole line for itself, this
cancels that and sends it to the left
*/
#user-login-form input {
  float: left;
}

/*
I don't like the required * (asterisks), so I hide them.
*/
#user-login-form span.form-required {
  display: none;
}

/*
the form submit button,
*/
#user-login-form input.form-submit {
  margin-top: -1px;
  margin-left: 10px;
  padding: 0em .5em .1em .5em;
  font-size:.9em;
  border:1px solid #999;
  background-color:#E3A332;
  color:white;
  cursor:pointer;
}


#user-login-form #edit-name, #user-login-form #edit-pass {
width: 70px;
font-size:.9em;
}


/*
now this is for the links list, lists by default tries to reserve a whole line
also they add space surrounding them. we cancel all that and send the list
to the right
*/
#user-login-form div.item-list ul {
  margin: 10px; padding: 0px;
  padding-top:5px;
  text-align:left;
  clear:both;
}

/*
remember, stylign above was for the whole list, now for each item,
we all know each item in the list by default exists on a separate line, also
has that bullet on the left. we cancel all that. and makes all items sit beside
each other
*/
#user-login-form div.item-list ul li {
  margin:0px;
  padding: 0px;
  margin-top: 6px;
  background: none;
  list-style:none;
  display:inline;
}

/*
this is the "Hi user, welcome back message".
by default <p> tries to exist on a separate line, we cancel that.
also by default <p> has some surrounding space, we cancel that too, and give it
only space on the left.
*/
#user-login-form p.user-info {
  float: left;
  padding: 0;
  margin: 0 0 0 10px;
}

