@CHARSET "UTF-8";

/*
 * Basic CSS for Tag User.
 *
 */

div.taguser-24-avatar-cell {
	display: inline-block;
	width: 30px;
  height: 30px;
  overflow: hidden;
}
div.taguser-24-avatar-cell-tall {
  height: 50px;
  display: inline-block;
  width: 30px;
  overflow: hidden;
}
div.taguser-32-avatar-cell {
  display: inline-block;
  width: 38px;
  height: 38px;
  overflow: hidden;
}
div.taguser-32-avatar-cell-tall {
  height: 58px;
  display: inline-block;
  width: 38px;
  overflow: hidden;
}
div.taguser-48-avatar-cell {
  display: inline-block;
  width: 54px;
  height: 54px;
  overflow: hidden;
}
div.taguser-48-avatar-cell-tall {
  height: 74px;
  display: inline-block;
  width: 54px;
  overflow: hidden;
}
div.taguser-50-avatar-cell {
  display: inline-block;
  width: 56px;
  height: 56px;
  overflow: hidden;
}
div.taguser-50-avatar-cell-tall {
  height: 76px;
  display: inline-block;
  width: 56px;
  overflow: hidden;
}
div.taguser-73-avatar-cell {
  display: inline-block;
  width: 79px;
  height: 79px;
  overflow: hidden;
}
div.taguser-73-avatar-cell-tall {
  height: 99px;
  display: inline-block;
  width: 79px;
  overflow: hidden;
}
div.taguser-96-avatar-cell {
  display: inline-block;
  width: 102px;
  height: 102px;
  overflow: hidden;
}
div.taguser-96-avatar-cell-tall {
  height: 122px;
  display: inline-block;
  width: 102px;
  overflow: hidden;
}

div.taguser-autocomplete {
	background-color: transparent;
	background-position: left center;
	background-repeat: no-repeat;
	margin: 0 0 0 4px;
	padding: 4px 4px 4px 30px;
}

