/* $Id: ie.css,v 1.2.2.1 2010/01/20 20:11:52 johnalbin Exp $ */

/**
 * @file
 * CSS targeted specifically for Internet Explorer for Windows.
 *
 * Any CSS in this file will apply to all versions of IE. You can target
 * specific versions of IE by using conditional comments. See your sub-theme's
 * .info file for an easy way to use them.
 *
 * While building your theme, you should be aware that IE limits Drupal to 31
 * stylesheets total. The work-around for the bug is to enable CSS aggregation
 * under: admin / settings / performance.
 */

#feature-topleft {
	float: left;
}

#feature-topleft span.empty,
.jcarousel-item span.empty {
	display: inline-block;
}

#feature-topright {
	float: left;
}

#front-top-left td#featured-event-name span {
	height: auto;
}

div.block-nice_menus {

}

#edit-search-block-form-1-wrapper input {
	float: left;
	display: block; /* makes text-indent work in IE */
}

#block-views-home_flash-block_1 .view-content .views_slideshow_singleframe_slide .views-field-title h2 {
	margin-top: 10px;
}

.sponsor-img span {
    display: inline-block;
    height: 100%;
}

.home_row.home_row_2_regions .home_row_region {
  margin-right: 1%;
}

.home_row.home_row_3_regions .home_row_region {
	margin-right: 1.5%
}