/* $Id: ie.css,v 1.2.2.1 2010/01/20 20:11:52 johnalbin Exp $ */

/**
 * @file
 * CSS targeted specifically for Internet Explorer for Windows.
 *
 * Any CSS in this file will apply to all versions of IE. You can target
 * specific versions of IE by using conditional comments. See your sub-theme's
 * .info file for an easy way to use them.
 *
 * While building your theme, you should be aware that IE limits Drupal to 31
 * stylesheets total. The work-around for the bug is to enable CSS aggregation
 * under: admin / settings / performance.
 */

/*
 * Drupal nodes
 */

.node-unpublished .node-inner>* {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}
/*
 * Markup free clearing
 */
.clearfix {
  zoom: 1;
}

#block-menu-secondary-links ul li {
	list-style-type: none;
	list-style-image: none;
}

.home_row.home_row_2_regions .home_row_region {
	width: 49.5%;
}


.page-events-event-list td.views-field-field-event-image-fid {
	width: 142px;
}

.ie8 .view-sponsor-block div.views-row img {
	float: right;
	width: auto;
	height: auto;
}
/*
.ie8 ul#nice-menu-1 li a {
	padding: 12px 21px 12px 20px;
}*/
