/* $Id: nice_menus.css,v 1.27.2.1 2008/07/11 16:05:10 add1sun Exp $ */
/*
  This file contains the basic logic for nice menus, and should not be
  edited.  To customize the menus, it's recommended to create a custom CSS
  file using nice_menus_default.css as a template, then configure the module
  to use your custom CSS file (this is done in the global settings tab of
  the theme administration.)
*/

/* Below should fix menu being a few pixels away in some themes, and menus disappearing behind other stuff. */
/*.block-nice_menus {
  z-index: 7;
  position: absolute !important;
  bottom: 0;
}*/

ul.nice-menu,
ul.nice-menu ul {
  z-index: 5;
  position: relative;
}

ul.nice-menu li {
  position: relative;
}

ul.nice-menu a {
  display: block;
}

ul.nice-menu ul {
  position: absolute;
  visibility: hidden;
}

ul.nice-menu li.over ul {
  visibility: visible;
}

ul.nice-menu ul li {
  display: block;
}

ul.nice-menu:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Show submenus when over their parents. */
ul.nice-menu li:hover ul,
ul.nice-menu li.menuparent li:hover ul,
ul.nice-menu li.menuparent li.menuparent li:hover ul,
ul.nice-menu li.menuparent li.menuparent li.menuparent li:hover ul,
ul.nice-menu li.over ul,
ul.nice-menu li.menuparent li.over ul,
ul.nice-menu li.menuparent li.menuparent li.over ul,
ul.nice-menu li.menuparent li.menuparent li.menuparent li.over ul {
  visibility: visible;
}

/* Hide sub-menus initially. */
ul.nice-menu li:hover ul ul,
ul.nice-menu li:hover ul ul ul,
ul.nice-menu li:hover li:hover ul ul,
ul.nice-menu li:hover li:hover ul ul ul,
ul.nice-menu li:hover li:hover li:hover ul ul,
ul.nice-menu li:hover li:hover li:hover ul ul ul,
ul.nice-menu li.over ul ul,
ul.nice-menu li.over ul ul ul,
ul.nice-menu li.over li.over ul ul,
ul.nice-menu li.over li.over ul ul ul,
ul.nice-menu li.over li.over li.over ul ul,
ul.nice-menu li.over li.over li.over ul ul ul {
  visibility: hidden;
}

/***************
 IE 6 Fixes
***************/

/* Iframe to fix z-index bug when menu hovers over <select> fields. */
ul.nice-menu li.menuparent ul {
	overflow: visible !important;
}

ul.nice-menu li.menuparent ul iframe {
	display: none;
	display/**/: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: mask();
	width: 20px;
	height: 20px;
}

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
}

ul.nice-menu li {
  border: 1px solid #ccc;
  border-top: 0;
  float: left;
  background-color: #eee;
}

ul.nice-menu a {
  padding: 0.3em 5px 0.3em 5px;
}

ul.nice-menu ul {
  top: 1.8em;
  left: -1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-right: 0;
}

ul.nice-menu ul li {
  width: 185px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left;
  border: 0;
}

ul.nice-menu-down li {
  border-top: 1px solid #ccc;
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0;
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 185px;
  top: -1px;
}

/***customizations for nysquash, primary links, "nice-menu-1"***/

/* level 1 */
ul#nice-menu-1 {
 font-family: 'Abel', 'arial narrow', 'helvetica neue', sans-serif;
  background: #f9bd4f;
	padding: 0 0px; /* this and width above add up to full width (1004px)*/
	display: none;
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*#block-nice_menus-1::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}*/

.nojs ul#nice-menu-1 {
	display: block;
}
ul#nice-menu-1 li#menu-25054 {
	border-left: none;
}

ul#nice-menu-1 li { 
	background: transparent; 
/*	background-color: #B05754; *//*'Maroon'*/
/*	background-color: #376898; The more muted "Biju blue" color */ 
/*	background-color: #569CCD;*/ /*A brighter blue, trying on for color */
/*	background-color: #2999d8;   An even brigther blue color in use on one of the test sites*/ 
	padding: 0;
	float: left;
}

ul#nice-menu-1 li,
ul#nice-menu-1 li a {
	color: #282829;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	border: none;
	line-height: 1.2em;
}

ul#nice-menu-1 li a {
	padding: 12px 19px;
	background: #f9bd4f;
	text-transform: uppercase;
}
ul#nice-menu-1 li.last a {
  -webkit-border-radius: 0 4px 4px 0; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
  -moz-border-radius: 0 4px 4px 0 0; /* FF1-3.6 */
  border-radius: 0 4px 4px 0;
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.ie ul#nice-menu-1 {
  background: #f9bd4f;
  border-radius: 4px;
  /* useful if you don't want a bg color from leaking outside the border: */
  background-clip: padding-box;
}
ul#nice-menu-1 li a {
	padding: 13px 18px;
}

ul#nice-menu-1 li li.last a {
	float: none;
	padding: 10px 0;
	-webkit-border-radius: 0; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
	-moz-border-radius: 0; /* FF1-3.6 */
	border-radius: 0;
}
ul#nice-menu-1 li a:hover {
	color: #fff;
	background: #242425;
	text-decoration: none;
/*	text-transform: uppercase;	*/
}

ul#nice-menu-1 li.first a {
	-webkit-border-radius: 4px 0 0 4px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
	-moz-border-radius: 4px 0 0 4px; /* FF1-3.6 */
	border-radius: 4px 0 0 4px;
}

ul#nice-menu-1 ul li.first a {
	-webkit-border-radius: 0; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
	-moz-border-radius: 0; /* FF1-3.6 */
	border-radius: 0;
}

ul#nice-menu-1 li a.active:hover {
/*	background-color: #5E5E5E;*/
	color: #f8bc4f;
/*	text-transform: uppercase;*/
}

ul#nice-menu-1 li a.active,
ul#nice-menu-1 li.over a,
ul#nice-menu-1 .menuparent.active-trail a {
	color: #fff;
	background: #242425;
	
}

/* level 2 */
ul#nice-menu-1 ul {
  background: #242425;
  bottom: 0px;
  margin-top: 20px;
  border-top: none;
  padding-bottom: 5px;
  width: 185px;
}

ul#nice-menu-1 ul li {
  clear: both;
  background: #242425;
  width: 185px;
}

ul#nice-menu-1 ul li ul {
  margin-top: 0;
}

ul#nice-menu-1 li li a {
	color: #fff;
	background: transparent;
	border: none;
	border-bottom: 1px dotted #454547;
	height: auto;
	font-size: 14px;
	line-height: 1.5em;
	text-transform: none;
	padding: 10px 0;
	text-align: left;
  margin: 0 15px;
	font-family: 'verdana', sans-serif;
}


.ie ul#nice-menu-1 li li a,
.ie ul#nice-menu-1 li li.last a,
.ie8 ul#nice-menu-1 li li a,
.ie8 ul#nice-menu-1 li li.last a,
.ie7 ul#nice-menu-1 li li a,
.ie7 ul#nice-menu-1 li li.last a {
  padding: 10px 0;
  float: none;
}

ul#nice-menu-1 li li.last a {
	border: none;
}
ul#nice-menu-1 li li a {
}

ul#nice-menu-1 li li a:hover,
ul#nice-menu-1 li li:hover,
ul#nice-menu-1 li.menuparent.active-trail li a:hover {
	color: #FABE50;
}

ul#nice-menu-1 li li a.active {
	/*border-bottom: none;*/
}

ul#nice-menu-1 li li a.active:hover {
	
}

ul#nice-menu-1 li#menu-25740 li a {
}

ul#nice-menu-1 li li.menuparent {
  background: #242425 url(../images/arrow-right.png) right center no-repeat;
}

ul#nice-menu-1 li li.menuparent:hover,
ul#nice-menu-1 li li.over {

}

/* if making use of the arrows, make room for down arrow if there are submenu items*/
ul#nice-menu-1 .menuparent a {
  /* padding-right:    */
}

ul#nice-menu-1 li.menuparent,
/* Repeat for Garland header. */
#header-region ul#nice-menu-1 li.menuparent {
  
}

ul#nice-menu-1 li.menuparent:hover,
ul#nice-menu-1 li.over,
/* Repeat for Garland header. */
#header-region ul#nice-menu-1 li.menuparent:hover,
#header-region ul#nice-menu-1 li.over {

}

.section-events ul#nice-menu-1 li.menu-path-node-6917 a {
	color: #fff;
	background: #242425;
}