/* @override 
	http://nysquash.net/sites/all/themes/squashv3/css/pages.css?V
	http://nysquash.net/sites/all/themes/squashv3/css/pages.css?l */

/* $Id: pages.css,v 1.18.2.3 2010/06/26 17:18:58 johnalbin Exp $ */

@font-face {
	  font-family: DroidSerifRegular;
	  src: url(../fonts/DroidSerif-Regular.ttf) format("truetype");
	}

@font-face {
	  font-family: DezenProRegular;
	  src: url(../fonts/dezenpro-regular.ttf) format("truetype");
	}


@font-face {
    font-family: 'FagoCoMediumBold';
    src: url('../fago/fagoco-medium-webfont.eot');
    src: url('../fago/fagoco-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fago/fagoco-medium-webfont.woff') format('woff'),
         url('../fago/fagoco-medium-webfont.ttf') format('truetype'),
         url('../fago/fagoco-medium-webfont.svg#FagoCoMediumBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FagoNoRegular';
    src: url('../fago/fagono-webfont.eot');
    src: url('../fago/fagono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fago/fagono-webfont.woff') format('woff'),
         url('../fago/fagono-webfont.ttf') format('truetype'),
         url('../fago/fagono-webfont.svg#FagoNoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FagoNoLfBold';
    src: url('../fago/fagonolf-bold-webfont.eot');
    src: url('../fago/fagonolf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fago/fagonolf-bold-webfont.woff') format('woff'),
         url('../fago/fagonolf-bold-webfont.ttf') format('truetype'),
         url('../fago/fagonolf-bold-webfont.svg#FagoNoLfBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FagoNoLfBoldItalicBoldItalic';
    src: url('../fago/fagonolf-bolditalic-webfont.eot');
    src: url('../fago/fagonolf-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fago/fagonolf-bolditalic-webfont.woff') format('woff'),
         url('../fago/fagonolf-bolditalic-webfont.ttf') format('truetype'),
         url('../fago/fagonolf-bolditalic-webfont.svg#FagoNoLfBoldItalicBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
	background: #dddddb url(../images/body-bg.jpg) repeat 50% 0;
	margin: 0px 0px 0px 0px;
	padding: 0px;
/*	background: url("../images/gradient1.jpg") repeat-x repeat-y scroll 0 0; "squash-wall" texture at top */
/*	background: url("../images/gradient1.jpg") repeat-x scroll 0 0 #949599; /* black to gray gradient */
/*	background-color: #7f7f7f;*/
	font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
	min-width: 1004px;
}

body.cke_show_borders {
	background: none;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
html {
	font: 14px normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
}

html.js input.form-autocomplete { background-position: 100% 6px !important;}
html.js input.throbbing { background-position: 100% -15px;}

pre,
code {
  font-size: 1.1em; /* Monospace fonts can be hard to read */
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

br {
	height: 0;
}

.front h1 {
	color: #FFFFFF;
	font-size: 2em;
	text-align: center;
	margin: 0;
	padding: 7px;
}

h1 {
	font-size: 32px;
	font-weight: normal;
  font-family: 'FagoNoRegular', 'FagoCoMediumBold', 'arial', sans-serif;
  color: #282829;
  letter-spacing: -1px;
  line-height: 1.3em;
  margin: 5px 0;
  border-bottom: 1px dotted #ccc;
  }
.ie8 h1 {
  letter-spacing: 0;
}
h2 {
  font-size: 20px;
  font-family: 'FagoNoRegular', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  font-weight: normal;
}

h3 {
  font-size: 16px;
}

h4,
h5,
h6 {
  font-size: 14px;
  margin: 3px 0 5px;
}

.clear {
  clear: both;
	height: 5px;
}

.clearfix::after,
.clear-block::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*
 * Block-level elements
 */
p,
ul,
ol,
dl,
pre,
table,
fieldset {
  margin: 7px 0;
  font-size: 13px;
}

blockquote {
  margin: 1em 2em;
}

/*
 * Lists
 *
 * We need to standardize the list item indentation.
 */
ul,
ol {
  margin-left: 0;
  padding-left: 1.5em;
}

.block ol  li {
	list-style-type: decimal !important;
}

.block ul,
.item-list ul  {
  margin: .5em 0;
  list-style-type: none;
  padding: 0;
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

ul.links /* List of links */ {
  margin: 1em 0 0 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
  border: none;
  margin: 20px 0 0 0;
}

.blog-links ul.links li {
	float: left;
}

.views-admin-links ul { margin: 0; }

div.view div.views-admin-links li {
	border: none;
}

.item-list ul.pager {
  clear: both;
  margin: 1em 0;
  text-align: right;
  font-family: 'FagoNoLfBoldItalicBoldItalic', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  text-transform: capitalize;
}

.item-list ul.pager li.pager-item,
.item-list ul.pager li.pager-current,
.item-list ul.pager li.pager-first,
.item-list ul.pager li.pager-previous,
.item-list ul.pager li.pager-next,
.item-list ul.pager li.pager-last {
	padding: 0;
	border: none;
	font-size: 14px;
	margin: 0 4px;
	border-bottom: none !important;
}

.item-list ul.pager li.pager-item a,
.item-list ul.pager li.pager-first a,
.item-list ul.pager li.pager-previous a,
.item-list ul.pager li.pager-next a,
.item-list ul.pager li.pager-last a {
  padding: 0;
}

.item-list ul.pager li.pager-current {
  padding: 0;
  color: #282829;
}

.item-list ul.pager li.pager-item a:hover,
.item-list ul.pager li.pager-first a:hover,
.item-list ul.pager li.pager-previous a:hover,
.item-list ul.pager li.pager-next a:hover,
.item-list ul.pager li.pager-last a:hover {
  color: #084684;
}

.block ul li,
.block .item-list ul li {
	list-style-type: none;
	border-bottom: 1px dotted #ccc /*The orange color here was initially #FABE50 #999*/;
	padding: 7px 5px;
	margin: 0;
	line-height: 1.1em;
}

/* lists in a block generally*/
.block ul li a,
.block .item-list ul li a {

}

/* lists in a sidebar block specifically */
.sidebar .block ul li a,
.sidebar .block .item-list ul li a {
	width: auto;
	/* display: block; not sure why this was here, but it messed up views arguments summaries */
}

.block ul li.last,
.block .item-list ul li.last,
.block .item-list ul li.views-row-last {
	border-bottom: none;
}

ul.menu li,
li.expanded,
li.collapsed,
li.leaf /* Drupal override */ {
  margin: 0;
  padding: 5px 0;
  list-style-image: none;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 2em;
  padding: 0;
}

/*
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
a:link,
a:visited {
	color: #a3620a;
	text-decoration: none;
}

a:hover,
a:focus {
  color: #a3620a;
	text-decoration: underline;
}

a:active,
a:focus {
	outline: none;
}

li a.active {
	color: #a3620a;
}
.more-links,
.read-more {
	clear: both;
	display: block;
	height: 20px;
	padding: 10px 0 0;
	text-align: right;
}

.more-links a:link,
.more-links a:visited,
a.more:link,
a.more:visited,
#block-views-home_flash-block_1 .views-field-field-home-main-button-value a,
.read-more a {
	background: #454547;
	color: #fff;
	font-size: 13px;
	font-family: 'FagoNoLfBoldItalicBoldItalic', 'helvetica neue', 'helvetica', 'arial', sans-serif;
	font-weight: normal;
	padding: 5px 11px;
	line-height: 1.5em;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;	
	-webkit-font-smoothing: antialiased;
}

.ie7 .more-links a:link,
.ie7 .more-links a:visited,
.ie7 a.more:link,
.ie7 a.more:visited,
.ie7 #block-views-home_flash-block_1 .views-field-field-home-main-button-value a,
.ie7 .read-more a {
  line-height: 2em;
}
.more-links a:hover,
a.more:hover,
a.more:active,
#block-views-home_flash-block_1 .views-field-field-home-main-button-value a:hover,
.read-more a:hover {
  background: #fbc050;
  color: #282829;
  text-decoration: none;
}

.add-to-cart input[type=submit] {
  background: #297914;
  color: #fff;
  border: none;
  font-size: 13px;
  font-family: 'FagoNoLfBoldItalicBoldItalic', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  font-weight: normal;
  padding: 5px 14px;
  line-height: 1.3em;
  border-radius: 8px;
  text-shadow: none;
  box-shadow: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;	
  -webkit-font-smoothing: antialiased;
}
.add-to-cart input:hover {
/*	background: #fbc050;
	color: #282829;
	cursor: pointer;*/
}
/*
 * Tables
 *
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
thead th,
tbody th {
/*	font-weight:bold; */
  border: none;
	padding: 7px 1px;
	font-family: 'FagoNoLfBold', 'helvetica neue', 'helvetica', 'arial', sans-serif;
	text-transform: uppercase;
}

tbody {
  border-top: none;
}

td {
	padding: 5px;
	border-top: none;
	font-size: 12px;
	border-bottom: none;
}

.ie td {
 line-height: 2em;
}

tr.odd {
	border-bottom: none;
}
tr.odd td {
	background: #eee;
}
tr.even {
	/*background-color: #EDF5FA;*/
	border-bottom: none;
}

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

abbr.created /* Date-based "abbreviations" show computer-friendly timestamps which are not human-friendly. */ {
  border: none;
  cursor: auto;
  white-space: normal;
}

/*
 * Images
 */
img {
  border: 0;
  max-width: 100%;
}

.gmap  img {
	max-width: none;
}

.gmap-popup .views-field-delete-node,
.gmap-popup .views-field-edit-node,
.gmap-popup .views-field-view-node {
	width: 20px;
	float: right;
	margin-top: 10px;
}

/*
 * Horizontal rules
 */
hr {
  height: 1px;
  border: 1px solid #666;
}

/*
 * Forms
 */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px dotted #999;
}
fieldset legend {
	font-family: 'FagoNoLfBold', 'helvetica neue', 'helvetica', 'arial', sans-serif;
	text-transform: uppercase;
}

/*page layout stuff */

#page-wrapper {
	padding: 0px;
}

#page-wrapper,
.region-page-closure {

}

#page {
	padding: 0px;
}

#pre-header-wrapper {
	height: 35px;
	background-color: #282829; 
}

#pre-header {
	width: 1004px;
	margin: 0 auto;
}

#header {
	background: #333 url(../images/md-dk-grey-bg.jpg) repeat 0 0;
	height: 94px;
  clear: both;
}

#header .section {
  background: transparent url(../images/shine.png) no-repeat -60px -20px;
	width: 1004px;
	margin: 0 auto;
	position: relative;
 padding: 15px;
}

.logo {
  position: absolute;
  top: 29px;
  left: 23px;
}

.front .region-header {
}

.region-header {
  float: right;
  margin-top: 0px;
}

#nav {
  position: relative;
  z-index: 2;
}

.region-nav {
	width: 1004px;
	height: 43px;
	margin: 13px auto;
/*	background-color: #f9bd4f;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
}

.ie7 .region-nav,
.ie8 .region-nav {
 	background: #f9bd4f;
 	height: 45px;
}


.front .region-highlight {
	width: 1004px;
	margin: 0 auto;
	position: relative;
}

.ie7 .front .region-highlight {
  position: static;
}

#main-wrapper {
	position: relative;
	clear: both;
	margin: 12px auto;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 1004px;
}

.ie7 #main-wrapper {
  position: static;
}

#content-left,
#content-right,
#sidebar-left,
#content-main, 
#sidebar-right {
	float: left;
}

/*#content,
.no-sidebars #content {
  float: left;
  width: 964px;
  margin-left: 0;
  margin-right: -964px; /* Negative value of #content's width + left margin. *!/
  /*padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. *!/
}*/


#content,
.sidebar-second #content {
	clear: both;
	float: none;
	border-right: 1px dotted #666;
	margin: 0;
	padding: 0 20px 0px;
	float: none;
	width: auto;
	position: static;
	background-image: none;
	background-color: #fff;
}

.sidebar-first #content {
  width: 822px;
  margin-left: 202px; /* The width of .region-sidebar-first. */
  margin-right: -1024px; /* Negative value of #content's width + left margin. */
}

/*.sidebar-second #content {
  width: 695px;
  margin-right: -695px; /* Negative value of #content's width + left margin. *!/
  margin-left: 0;
}*/

.front.sidebar-second #content {
  width: 710px;
  margin-right: -710px; /* Negative value of #content's width + left margin. */
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.two-sidebars #content {
  width: 620px;
  margin-right: -822px; /* Negative value of #content's width + left margin. */
  margin-left: 202px; /* The width of .region-sidebar-first */
}

#content-bottom {
  border-right: 1px dotted #666;
  padding: 0 20px;
}

#content .section {
  margin: 0;
  padding: 0;
}

.front #main-wrapper {
	padding: 0;
	margin: 0 auto;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-color: #fff;
}

.ie7 .front #main-wrapper {
  padding: 15px;
}

.section-users #main-wrapper,
.section-users #content {
	width: 1004px;
	padding: 0;
	background: transparent;
}

#content-area {
	clear: left;
}

.region-sidebar-first {
  float: left;
  width: 192px;
  margin-left: 0;
  margin-right: -192px; /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0;
  padding: 0 10px;
}

.landing-page #main-wrapper {
  background: transparent;
}
.landing-page #content,
.landing-page.sidebar-second #content,
.profile-page #content {
	background: #666 url(../images/md-grey-bg.jpg);
	color: #fff;
  padding-bottom:  20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.profile-page #content {
  padding: 15px;
  width: 975px;
}

.landing-page #content-bottom,
.landing-page #content {
  border-right: none;
}

.landing-page #content-bottom {
  padding: 0;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left;
  width: 204px; 
  margin-left: 770px; /* content width +10px for space */
  margin-right: -1004px;
  margin-bottom: 0px;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.front .region-sidebar-second {
  float: left;
  width: 260px; 
  margin-left: 730px; /* content width +10px for space */
  margin-right: -1004px;
  margin-bottom: 0;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
  background-color: #fff;
/*  background-color: #D1D0C9;*/
}

.front .region-sidebar-second .section {
	padding: 0 10px;
}

.region-sidebar-second .section {
  margin: 0;
  padding: 0 0 0 13px;
  border-left: 1px dotted #999;
}

.sidebar {
	padding-bottom: 5px;
}

.region-content-bottom {
	clear: both;
	display: block;
	margin: 0;
	padding: 1px;
	/*float: left;
	margin: 0 0 10px -6px;
	width: 102%;*/
}

.sidebar-second #main {
	width: 735px;
	margin: 10px 0 15px;
  float: left;
}

.landing-page #main {
  margin: 0 0 15px;
}
.sidebar-second .region-sidebar-second {
	background: #fff;
	float: right;
	width: 255px;
	margin: 0 0 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.sidebar-second .region-sidebar-second .section {
  border-left: none;
  padding: 0 10px;
}

.feed-icons {
  float: right;
}

/*
.sidebar a,
.sidebar a:visited {
	color: #084684;
}

.sidebar a:hover {
	text-decoration: underline;
}*/

.sidebar .block {
	margin: 10px 0;
	border-bottom: 1px dotted #ccc;
/*	background-color: #f5f5f5;*/
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.front #mission {
	font-size: 1.3em;
	background-color: #fff;
	width: 800px;
	margin: 0 auto;
	padding: 10px 30px;
	text-align: center;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

.home_row {
	margin-top: 7px auto;
	padding-top: 12px;
	background-color: #fff;
	padding-top: 0px;
}

.home_row h2.title {
	font-size: 14px;
	color: #282829 ;
	margin-bottom: .4em; 
	padding: 2px 0px 3px;
	text-transform: uppercase;
	font-weight: normal;
  font-family: 'FagoNoLfBold', 'helvetica neue', 'helvetica', 'arial', sans-serif;
}

.home_row_region {
	
}
#home_row2 h2.title,
#home_row3 h2.title {
	margin-top: 0;
	
}

/* make rows with 2 regions spaced nicely */
.home_row.home_row_2_regions .home_row_region {
	float: left;
	width: 50%; /* maximize width in modern browsers, IE-specific fixes in ie.css */
}

/* make rows with 3 regions spaced nicely */
.home_row.home_row_3_regions .home_row_region {
	float: left;
	width: 32%;
	margin-right: 2%
}

/* make rows with 4 regions spaced nicely */
.home_row.home_row_4_regions .home_row_region {
	float: left;
	width: 24%;
	margin-right: 1%
}

.home_row.home_row_2_regions #home_row3_1,
.home_row.home_row_2_regions #home_row2_1 {
	border-right: 1px dotted #999;
	padding-right: 2%;
	margin-right: 2%;
	width: 45%;
}

/* make rows with 5 regions spaced nicely */
.home_row.home_row_5_regions .home_row_region {
	float: left;
	width: 16.5%;
	margin: 35px 0;
}
.home_row.home_row_5_regions .home_row_region.home_row_middle {
	padding: 0 0 0 10px;
	border-left: 1px dotted #ccc;
}

.home_row.home_row_5_regions .home_row_region.home_row_first  {
   width: 308px;
   padding: 0 20px 0 0;
}
#home_row_last .home_row_region .region {padding: 0 15px;}

#home_row_last .home_row_region.home_row_first .region {
  padding: 0;
}
#home_row_last .home_row_region .region .block.odd {
	margin: 0 0 50px 0;
}

.home_row .home_row_last {
	margin-right: 0 !important;
}

#home_row_featured {
	background: #666 url(../images/md-grey-bg.jpg);
	color: #fff;
	width: 1004px; 
	margin: 0 auto;
	float: none;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius: 8px;
	border-top-left-radius:8px;
	border-top-right-radius: 8px;
}

#home_row_featured .region {
	padding: 0 15px 0;
	margin: 0 0 5px;
	border-right: 1px dotted #ccc;
}

#home_row_featured h2.title {
  color: #fabf4f;
}

.ie7 #home_row_featured .region {
  margin: 15px auto;
}

.ie7 #home_row_featured .event-date {
	margin: 0;
	left: 0;
}
#home_row_featured .region-home-row-featured-2 {
  border-right: none;
}
#home_row_featured .time {
	color: #fff;
}
#home_row_featured .block-data-title a,
#home_row_featured .views-field-title a h2.title {
	color: #fff;
}
#home_row_featured .views-field-title{
	margin: 7px 0 5px;
}

#home_row_last {
	float: none;
	clear: both;
}
.home_row_last_wrapper {
	width: 1004px; 
	margin: 0 auto;
}

#home_row1 {}

#home_row1 .home_row_region {} /* don't add padding, add padding below if needed */
#home_row1 .home_row_region .region {}

#home_row2 .home_row_first {
  border-right: 1px dotted #ccc;
} /* don't add padding, add padding below if needed */
#home_row2 .home_row_region .region {}
#home_row2 .home_row_region .region .block {margin-top: 25px;}
#home_row2 .home_row_region .region .region-count-1 {margin-top: 0;}
#home_row2 .home_row_first .region {padding-left: 10px;}

#block-webform-client-block-1349 .content {
font-size: 13px;
/*	background-color: #fff;
	padding: 5px 10px 15px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;*/
}	
#home_row2 {
  border-bottom: 1px dotted #999;
  margin-bottom: 12px;
}
#home_row2,
#home_row3 {
  padding-bottom: 12px;
  margin-right: 2%;
  clear: both;
}
#home_row3 .home_row_region {}

#home_row4 {}
#home_row4 .home_row_region {}

#home_row5 {}
#home_row5 .home_row_region {}

#home_row_last {
/*	background-color: #264768;*/ /*Dark blue*/
/*	background-color: #5F5046; Brown */
	background: #333 url(../images/dk-grey-bg.jpg) repeat 0 0;
}

#home_row_last li,
#home_row_last a {
	color: #ebebeb;
	font-size: 13px;
	line-height: 1.5em;
}
#home_row_last .home_row_region h2.title {
	color: #f9bd4f;
	font-family: 'FagoCoMediumBold', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
	font-variant: small-caps;
	border-bottom: none;
	font-size: 17px;
	margin: 0px 0 5px;
	-webkit-font-smoothing: antialiased;
}

/* search block */
#block-search-0 {
	margin-bottom: 0px;
}

#block-search-0 #search-block-form {
	
}

#block-search-0 #search-block-form .form-submit {
	background: url('../images/search.jpg') 0 0 no-repeat #000;
	color: #fff;
	height: 25px;
	width: 25px;
	font-size: 0x; /* IE6 hack */
	line-height: 0; /* IE6 hack */
	border: none;
	font-weight: bold;
	cursor: pointer;
	text-indent: -10000px;
}

#block-search-0 #search-block-form  .form-submit:hover {
	color: #FABE50;
}

#edit-search-block-form-1-wrapper input {
	padding: 4px;
	color: #557198;
	margin-right: 4px;
}

#block-menu-menu-pre-header-menu {
	float: right;
}

#block-menu-menu-pre-header-menu ul li,
#block-menu-secondary-links ul li {
	display: inline;
	border-bottom: none;
	padding: 0 20px;
}

#block-menu-menu-pre-header-menu ul li {
	border-left: 1px dotted #d4d4d1;
}

#block-menu-menu-pre-header-menu li a {
	color: #d4d4d1;
	font-size: 13px;
	text-transform: uppercase;
	padding: 5px;
  font-family: 'FagoNoRegular', 'FagoNoLfBold', 'arial narrow', 'helvetica neue', sans-serif;
}

#block-menu-menu-pre-header-menu li a:hover {
	color: #fff;
}

#block-menu-secondary-links li a {
	color: #fff;
	font-size: 14px;
}


#block-menu-menu-pre-header-menu ul li.first,
#block-menu-secondary-links ul li.first {
	border: none;
}

#block-menu-menu-pre-header-menu ul li.last,
#block-menu-secondary-links ul li.last {
	padding-right: 0;
}

/** userloginbar **/
#block-userloginbar-0 {
	float: right; 
	margin-left: 25px;
	margin-top: 4px;	
	width: 365px;
}

#block-userloginbar-0  #user-login-form {
	padding: 0;
	margin: 0;
 }

#block-userloginbar-0 #user-login-form input {
  float: left;
  background: #565658;
  border: none;
  line-height: 1.6em;
  margin: 0 3px;
  color: #d4d4d1;
  padding: 2px 15px 3px;
  width: 115px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.ie7 #block-userloginbar-0 #user-login-form input {
  padding: 4px 15px;
}
#block-userloginbar-0 #user-login-form span.form-required {
  display: none;
}

#block-userloginbar-0 #user-login-form input.form-submit {
	border: none;
  padding: 0;
	margin: 0 0 0 3px;
	color: #282829;
	cursor: pointer;
	width: 65px;
	height: 24px;
	font-size: 14px;
	font-family: 'FagoNoLfBold', 'helvetica neue', 'helvetica', 'arial', sans-serif;
	background: #FABE50;
	text-transform: uppercase;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#block-userloginbar-0 #user-login-form input.form-submit:hover {
	background: #a3620a;
	color: #fff;
}

#user-login-form #edit-name, 
#user-login-form #edit-name-1, 
#user-login-form #edit-pass {
  width: 68px;
  padding: 2px;
  color: #557198;
  font-size: .9em;
  margin: 2px;
}

#block-userloginbar-0 #user-login-form div.item-list ul {
  padding: 5px 0px 5px 10px; 
  margin: 0px;
  float: left;
  clear: none;
}

#block-userloginbar-0 #user-login-form div.item-list ul li {
  margin:0px;
  padding: 0px;
  list-style:none;
  display:inline;
  border: none;
}

#block-block-45 {
	padding: 10px;
	margin-bottom: 10px;
}

#block-block-51 .edit {
	right: 0;
}

.block-constant_contact form label {
	font-weight: normal;
}

.block-constant_contact form #edit-cc-email-wrapper label,
.block-constant_contact form #edit-cc-FirstName-wrapper label,
.block-constant_contact form #edit-cc-LastName-wrapper label {
	width: 75px;
	float: left;
	font-size: 12px;
}

.block-constant_contact form #edit-cc-email-wrapper input,
.block-constant_contact form #edit-cc-FirstName-wrapper input,
.block-constant_contact form #edit-cc-LastName-wrapper input {
	width: 100px;
}

div.block.with-block-editing {
  position: relative;
}

div.block.with-block-editing div.edit {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 0.75em;
  background-color: #fff;
}

div.block.with-block-editing:hover div.edit {
  display: block;
}

.sidebar .block .content {
	padding: 0 0 10px 0;
}

.sidebar .block p {
	margin: .5em;
}

.front h2.pane-title {
	border-bottom: 2px solid;
	color: #084684;
	font-size: 17px;
	margin: 7px;
	background-color: transparent;
	padding: 10px 2px 2px;
}

.sidebar h2.title,
#comments h2.title {
	color: #282829;
	font-size: 14px;
	margin: 0 0 12px 0;
	font-family: 'FagoNoLfBold', 'helvetica neue', 'helvetica', 'arial', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

.sidebar .node-inner {
	padding: 5px 0;
}


h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin-bottom: 0.5em;
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

div.messages,
div.status,
div.warning,
div.error /* Important messages (status, warning, and error) for the user */ {
  min-height: 21px;
  margin: 0 1em 5px 1em;
  border: 2px solid #ff7;
  padding: 5px 5px 5px 35px; /* LTR */
  color: #000;
  background-color: #ffc;
  background-image: url(../images/messages-status.png);
  background-repeat: no-repeat;
  background-position: 5px 5px; /* LTR */
}

div.status /* Normal priority messages */ {
}

div.warning /* Medium priority messages */ {
  border-color: #fc0;
  background-image: url(../images/messages-warning.png);
}

div.warning,
tr.warning {
  color: #000; /* Drupal core uses #220 */
  background-color: #ffc;
}

div.error /* High priority messages. See also the .error declaration in pages.css. */ {
  /* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */
  border-color: #c00;
  background-image: url(../images/messages-error.png);
}

div.error,
tr.error {
  color: #900; /* Drupal core uses #200 */
  background-color: #fee;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

div.tabs {
  margin: 0 0 5px 0;
}

ul.primary {
 margin: 10px 0 0;
 border-bottom: 1px dotted #ccc;
 padding:  0;
 line-height: 1.2em;
 height: 26px;
}

ul.primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

ul.primary li a {
background: #eee;
color: #282829;
float: left;
border: none;
margin: 0 7px 0 0;
font-size: 11px;
padding: 5px 10px;
line-height: 1.5em;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
display: block;
text-transform: uppercase;
}

.landing-page #content ul.primary li a,
.profile-page #content ul.primary li a {
	color: #282829
}

.landing-page #content ul.primary li a.active,
.profile-page #content ul.primary li a.active {
	color: #fff;
}

ul.primary li a:hover {
 background: #fbc050;
 border: none;
  text-decoration: none;
}


ul.primary li.active a,
ul.primary li.active a:hover {
  background: #454445;
  color: #fff;
  border: none;
}

ul.secondary {
	margin: 0px 0 15px;
	border-bottom: 1px dotted #ccc;
	padding:  0;
	height: 29px;
}

ul.secondary li {
  float: left; /* LTR */
  margin: 0 10px 0 0;
  padding: 6px 0;
  border-right: none; /* LTR */
}

ul.secondary a {
  text-transform: uppercase;
  font-size: 11px;
  padding: 6px 3px;
}

ul.secondary a.active,
ul.secondary a.active:hover {
  border: none;
  font-weight: bold;
  background: #454445;
  color: #fff;
}

.landing-page ul.secondary a,
.profile-page ul.secondary a {
  color: #fff;
}

.landing-page ul.secondary a:hover,
.profile-page ul.secondary a:hover {
  color: #282829;
}

#footer {
	height: 32px;
	clear: both;
}

#footer .section {
}

#footer-message {
	text-align: center;
  color: #f0f0f0;
	background-color: #282829;
	font-size: 11px;
	text-transform: uppercase;
	padding: 10px 0;
}

#footer-message a {
	color: #f0f0f0;
}

.region-footer {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}


/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/*---content bottom---*/
#content-bottom h2,
#content-bottom h3 {
  font-size: 14px;
  font-family: 'FagoNoLfBold', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

#content-bottom .block {
  border-bottom:  1px dotted #666;
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node-type-event .content {
	margin-bottom: 10px;
}

.node-type-event .content div.field-field-event-image,
.node-type-group .content div.field-field-team-group-photo,
.node-type-venue .content div.field-field-venue-image .field-items .field-item {
	text-align: center;
}

.node-type-event div.field-field-event-name {
	text-align: center;
	font-size: 1.5em;
	color: #039;
	font-weight: bold;
}


.node .content {
	background: #fff;
}

.node-inner   {
	padding: 0;
	position: relative;
	margin-bottom: 10px;
  }

.node-type-agenda .node-inner {
	padding: 10px 0;
}  

.node-type-agenda h2.agenda-top {
font-weight: bold; 
font-size: 18px;
}

.node-type-agenda .view-header {
	font-size: 16px;
	font-weight: bold;
}

.agenda-content img.imagecache-x-large {
	margin: 0 auto;
	display: block;
}


.node-inner .addthis_toolbox {
	position: absolute;
	top: -55px;
	right: 0;
}

.ie7 .node-inner .addthis_toolbox {
	top: -70px;	
}
  
.admin-nw .node-inner .addthis_toolbox {
	top: -97px;
}
.addthis_toolbox a {
	padding-right: 4px;
}

  .node-inner .addthis_default_style a {
	padding: 0 5px;
  }
 
	#at16pt h4 span, #at16pf {
	display: none;
	}
 
	#at_email #at16meo {
	 margin:40px 0px 0px 80px;
	}
 
  .node-inner div.links {
	
  }
  
.block .node-type-webform .addthis_toolbox { display: none; }

li.calendar_link { display: none !important; }



div.node-teaser-blog {
	margin-bottom:24px;
	position:relative;
}

div.blog-inner {
	border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border:1px solid #ededed;
	font-size:1.167em;
	line-height:1.5em;
	padding: 10px 18px 17px;
	margin: 0
}

div.node-teaser-blog h2 {
	margin: 5px 0 10px;
}

div.node-teaser-blog div.links {
	border-radius-bottomleft: 6px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	background-color: #f1f1f1;
	margin:0;
	padding: 12px 12px 25px;
	position: relative;
}

div.node-teaser-blog div.links  ul{
	float: right;
}

div.node-teaser-blog div.links  li{
	margin: 0;
}

div.node-teaser-blog div.links  li.blog_usernames_blog,
div.node-teaser-blog div.links  li.feedapi_original {
	display: none;
}
div.node-teaser-blog .addthis_default_style {
	margin-top: -7px;
}

div.node-teaser-blog .addthis_default_style a,
div.node-teaser-blog li.addthis a {
	width: 23px;
}

/* blogger's name in 'about the author block */
#block-views-blog_archive-block_3 .views-field-field-user-profile-lname-value a,
#block-views-blog_archive-block_3 .views-field-field-user-profile-lname-value a:visited {
	color: #557198;
	font-size: 1.2em;
	line-height: 1.5em;
	font-weight: bold;
}

#comments /* Wrapper for the list of comments and its title */ {
  margin: 1em 0;
  padding-top: 1em;
  border-top: 1px dotted #ccc;
}

#comments h2.title {
	margin-bottom: 10px;
}
.comment-unpublished /* Unpublished comments */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.new /* "New" marker for comments that are new for the current user */ {
  color: #c00;
}

.comment ul.links {margin: 0;}

.comment ul.links a {color: #000;}

.comment ul.links a:hover {color: #666;}

/* stolen from lullabot :)  */
.comment  a,
.comment  a:hover {
}

div.comment div.submitted {
	background:url("../images/bg-comment-talky.png") no-repeat scroll 10% 100% transparent;
	color:#999999;
	height:33px;
	left:0;
	position:absolute;
	top:0;
	font-size: 13px;
}

div.comment {
	margin-bottom: 20px;
	padding-top: 32px;
	position:relative;
	width: 99%;
}

div.comment-inner {
border-radius: 6px 6px 0px 0px;
-moz-border-radius: 6px 6px 0px 0px;
-webkit-border-radius: 6px 6px 0px 0px;

background-color: #F9F9F9;
border:1px solid #DBDBDB;
font-size:1.167em;
line-height:1.5em;
padding:18px;
}

div.comment div.links {
border-radius: 0px 0px 6px 6px;
-moz-border-radius: 0px 0px 6px 6px;
-webkit-border-radius: 0px 0px 6px 6px;
background:none repeat scroll 0 0 #CCCCCC;
margin:0;
padding:6px 12px;
}

div.comment div.links  ul li {
	float: none;
}

#featured .day a {
  color: #623B07;
}
#featured .time a {
  color: #fff;
}

/****************************/
/****  quicktabs styles *****/
/****************************/

/* all quicktabs */
.quicktabs_main.quicktabs-style-sky {
	padding: 0; 
	border: none;
	background-color: transparent;
}

/* make room within body of each tab ("tabpage") */
.quicktabs_tabpage {padding: 10px 0px 0px 0px;}
.quicktabs_tabpage h2 {margin: 0; color: #557198;}

#quicktabs-1 .quicktabs_tabpage {border: none; padding: 0;}

#content .quicktabs_wrapper ul.quicktabs_tabs {
        float: left;
        border-bottom: 1px solid;
        padding-bottom: 3px;
}

#content .quicktabs_wrapper ul.quicktabs_tabs li {
	min-height: 1px;
	height: auto;
	margin: 0;
	border-bottom: none;
	padding: 0px 3px 0px 0px;
}

#content .quicktabs_wrapper ul.quicktabs_tabs li.qtab-0 a,
#content #quicktabs-1 ul.quicktabs_tabs li.qtab-0 a {
	color: #fff; 
	background-color: #569ccd;	
/* Gives options below to curve the top left corner of the first tab */
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}
/* Old 'colourful' tab colour pattern was 389CFF, d7934f, 9e3a03, 557198, fabe50*/
#content .quicktabs_wrapper ul.quicktabs_tabs li.qtab-1 a {color: #fff; background-color: #569ccd}
#content .quicktabs_wrapper ul.quicktabs_tabs li.qtab-2 a {color: #fff; background-color: #569ccd}
#content .quicktabs_wrapper ul.quicktabs_tabs li.qtab-3 a {color: #fff; background-color: #569ccd}
#content .quicktabs_wrapper ul.quicktabs_tabs li.qtab-4 a {color: #fff; background-color: #569ccd}
#content .quicktabs_wrapper ul.quicktabs_tabs li.qtab-5 a {color: #fff; background-color: #fabe50}

#content .quicktabs_wrapper ul.quicktabs_tabs li.active a:hover,
#content .quicktabs_wrapper ul.quicktabs_tabs li a:hover {
	text-decoration: underline;
	color: #fff;
}

#content .quicktabs_wrapper ul.quicktabs_tabs li.first {padding-left: 0px;}
#content .quicktabs_wrapper ul.quicktabs_tabs li.last {padding-right: 0;}

#content .quicktabs_wrapper ul.quicktabs_tabs li a,
#content .quicktabs_wrapper ul.quicktabs_tabs li a:visited {
	background-image: none;
	color: #fff;
	line-height: normal;
	min-height: 1px;
	height: auto;
	padding: 8px 10px;
	border: none;
	font-size: 14px;
/*	font-weight: bold;*/
}

#content #quicktabs-8 ul.quicktabs_tabs li {
	color: #fff;
	border: none;
	padding: 0;
	margin: 3px 10px;
}

#content #quicktabs-8 ul.quicktabs_tabs li a.qt_tab {
	color: #fff; 
	background-color: #569CCD; 
	font-weight: normal;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}

#content #quicktabs-8 ul.quicktabs_tabs li a.qt_tab:hover {
	color: #fff;
	background-color: #4d4d4d;
}

#content #quicktabs-8 ul.quicktabs_tabs li.active a {
	color: #fff; 
	background-color: #4d4d4d;
}

.quicktabs_wrapper table {width: 100%; margin-top: 0;}
.quicktabs_wrapper table th {height: 0; padding: 0;}
    /* heck, all block tables! */
.block .view  table {width: 100%; margin-top: 0;}
.block .view table th {height: 0; padding: 0;
}

#quicktabs-1 .quicktabs_wrapper th {
	border-bottom: 2px solid #ccc;
}

/* quicktabs on event nodes */
#quicktabs-2 {margin-top: 55px;}

/** quicktabs on blog page **/
li.dhtml-menu ul li {padding-left: 0px; margin-left: 20px;} /* list-style: square;}*/


/** user profile page **/
.profile .picture {float: none;}

.profile-category-wrapper {}

.profile-category-wrapper .profile-item-label {float: left;}

.profile-item-label {font-weight: bold;}

.profile-category-wrapper .profile-item {}

.profile-item  {}

.profile-item  .item-list ul li {list-style-type: none;}

table.cart-block-summary td {padding: 0;}
table.cart-block-summary td ul.links li {padding: 0;}
table.cart-block-summary td ul.links li.first {padding-right: 7px;}
table.cart-block-summary td ul.links li.last{padding-left: 5px;}

/********************/
/***from forms.css **/
/********************/

.form-item,
.form-checkboxes,
.form-radios /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 2px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
/*  font-weight: bold; */
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.views-exposed-form label {
	font-size: 11px;
	text-transform: uppercase;
}

/*#filter-title label {
	display: none;
}*/

#filter-title {
	width: 100%;
}

#filter-title .views-widget {
 border-bottom: 1px dotted #ccc;
 margin: 5px 0 10px;
 padding-bottom: 10px;
}

.views-exposed-form .bef-checkboxes label {
	text-transform: none;
	font-size: 13px;
	line-height: 1.8em;
}

#filter-field_event_type_value_many_to_one {
  border-right: 1px dotted #ccc;
  margin: 0 20px 0 0;
	width: 48%;
}

#filter-field_event_type_value_many_to_one,
#filter-tid {
	margin-top: 27px;
}

#filter-field_event_type_value_many_to_one label {
	top: -27px;
	position: relative;
	font-size: 14px;
	margin: 0 0 5px 0;
	font-family: 'FagoNoLfBold', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

#filter-field_event_type_value_many_to_one .bef-checkboxes label {
	top: 0px;
	position: static;
  color: #282829;
  font-size: 12px;
  font-family: 'verdana', sans-serif;
  text-transform: none;
}
#filter-field_event_type_value_many_to_one .description {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	margin: -27px 0 14px;
}
.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0;
}

.form-submit /* The submit button */ {
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */

form tbody {
  border-top: 1px solid #ccc;
}

form th,
form thead th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody th {
  border-bottom: 1px solid #ccc;
}

/* constant contact signup form */
#constant-contact-signup-form  input.form-text {
	width: 116px;
}

/* squash-team-match-form - entering scores */
#squash-team-match-form table {
	margin: 0;
}

#squash-team-match-form tbody {
	border: none;
}

#squash-team-match-form fieldset {
  background: #eee;
  border: none;
  padding: 25px 2px 2px;
}

#squash-team-match-form fieldset legend {
  font-size: 18px;
  position: relative;
  left: 5px;
  top: 18px;
}

#squash-team-match-form fieldset .form-item {
 margin: 7px 0;
}

/*#squash-team-match-form fieldset {
	background-color: #757D7F;
	border: 2px solid #039;
}

#squash-team-match-form fieldset legend {
	padding: 3px 15px;
	background-color: #fc0;
	color: #039;
	border: 2px solid #BED1F7;
	font-weight: bold;
	font-size: 1.2em;
}

#squash-team-match-form  #edit-submit {

}

#squash-team-match-form .form-item {
	padding: 10px 15px 15px 15px;
	color: #fff;
	margin: 0;
}

.match td {
	padding: 0;
	border: none;
}

.match_player select {
	border: 2px solid #fc0;
	width: 150px;
}

/* player 1's scores *!/
#edit-match1player1-wrapper, #edit-match1game1player1-wrapper, #edit-match1game2player1-wrapper, #edit-match1game3player1-wrapper, 
#edit-match1game4player1-wrapper, #edit-match1game5player1-wrapper,
#edit-match2player1-wrapper, #edit-match2game1player1-wrapper, #edit-match2game2player1-wrapper, #edit-match2game3player1-wrapper, 
#edit-match2game4player1-wrapper, #edit-match2game5player1-wrapper,
#edit-match3player1-wrapper, #edit-match3game1player1-wrapper, #edit-match3game2player1-wrapper, #edit-match3game3player1-wrapper, 
#edit-match3game4player1-wrapper, #edit-match3game5player1-wrapper,
#edit-match4player1-wrapper, #edit-match4game1player1-wrapper, #edit-match4game2player1-wrapper, #edit-match4game3player1-wrapper, 
#edit-match4game4player1-wrapper, #edit-match4game5player1-wrapper,
#edit-match5player1-wrapper, #edit-match5game1player1-wrapper, #edit-match5game2player1-wrapper, #edit-match5game3player1-wrapper, 
#edit-match5game4player1-wrapper, #edit-match5game5player1-wrapper {
	background-color: #2D5DBC; /* The 'blue-ish' background *!/
}

/* player 2's scores *!/
#edit-match1player2-wrapper, #edit-match1game1player2-wrapper, #edit-match1game2player2-wrapper, #edit-match1game3player2-wrapper, 
#edit-match1game4player2-wrapper, #edit-match1game5player2-wrapper,
#edit-match2player2-wrapper, #edit-match2game1player2-wrapper, #edit-match2game2player2-wrapper, #edit-match2game3player2-wrapper, 
#edit-match2game4player2-wrapper, #edit-match2game5player2-wrapper,
#edit-match3player2-wrapper, #edit-match3game1player2-wrapper, #edit-match3game2player2-wrapper, #edit-match3game3player2-wrapper, 
#edit-match3game4player2-wrapper, #edit-match3game5player2-wrapper,
#edit-match4player2-wrapper, #edit-match4game1player2-wrapper, #edit-match4game2player2-wrapper, #edit-match4game3player2-wrapper, 
#edit-match4game4player2-wrapper, #edit-match4game5player2-wrapper,
#edit-match5player2-wrapper, #edit-match5game1player2-wrapper, #edit-match5game2player2-wrapper, #edit-match5game3player2-wrapper, 
#edit-match5game4player2-wrapper, #edit-match5game5player2-wrapper {
	background-color: #757D7F;/* The grey background *!/
}
*/
/****** team match view ****/

.node-type-team-match .field-label-inline-first {
	font-size: 12px;
	display: inline-block;
	width: 95px;
}


.view-awards li a {
	color: #282829;
	font-family: 'FagoCoMediumBold',sans-serif;
	font-size: 23px;
	font-weight: normal;
	margin: 5px 0;
}

.block #webform-component-award select {
	width: 120px;
}

.sidebar .webform-component-radios .form-item input {
	width: auto;
}

.sidebar .webform-component textarea {
	width: 220px;
}

/* styles from imported feeds */
/*wordpress blogs*/
.wp-caption {
	background-color: #F1F1F1;
    line-height: 18px;
    margin-bottom: 20px;
    max-width: 632px !important;
    padding: 4px;
    text-align: center;
}

.wp-caption p.wp-caption-text {
	color: #888888;
    font-size: 12px;
    margin: 5px;
}

.alignright, img.alignright {
	display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}

.alignleft, img.alignleft {
	display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}

.blog-inner .wp-caption a img {
	display: inline;
}

.blog-inner p a img {
	display: none !important;
}

/* blogger feeds */
.post img, table.tr-caption-container {
	border: 1px solid #333333;
    padding: 4px;
	width: auto;
}

/* groups block */
.block-og h2.title a,
.block-og h2.title a:visited {
	color: #404040;
}

/* use block class "admin" in block settings to get the ORANGE title bar */
.sidebar .admin h2.title, 
.admin  h2, 
.sidebar .admin h3.title, 
.sidebar .admin h3{
	background-color: #fabe50;
	color: #fff;
	padding: 5px 10px;
}

/* use block class "editor" in block settings to get the GREEN title bar */
.sidebar .editor h2.title, 
.editor  h2, 
.sidebar .editor h3.title, 
.sidebar .editor h3{
	background-color: #5B9C64;
	color: #fff;
	padding: 5px 10px;
}

/* use block class "women" in block settings to get the PURPLE title bar */
.sidebar .women h2.title, 
.editor  h2, 
.sidebar .women h3.title, 
.sidebar .women h3{
	background-color: #F25FA3;
	color: #fff;
	padding: 5px 10px;
}


/* use block class "gray" or "grey" in case it's spelled incorrectly ;) in block settings to get the GRAY title bar */
.sidebar .grey h2.title, 
.sidebar .gray h2.title, 
.grey  h2, 
.gray  h2, 
.sidebar .grey h3.title, 
.sidebar .gray h3.title, 
.sidebar .grey h3,
.sidebar .gray h3 {
	background-color: #7F7F7F;
	color: #fff;
}

.emvideo-thumbnail-replacement span {
	background: url("../images/emvideo-play-custom.png") no-repeat scroll 0 0 transparent !important;
    height: 80px;
    width: 80px;
	top: 35px;
	left: 85px;
}

.view-pics-of-user .emvideo-thumbnail-replacement span {
background: url("../images/emvideo-play-small.png") no-repeat scroll 0px 0px transparent !important;
  height: 40px;
  width: 40px;
 top: 25px;
 left: 25px;
}


/********************************/
/*** event add/edit forms *******/
/********************************/

.section-node-add #edit-field-event-image-0-ahah-wrapper  div.filefield-element,
.section-node-edit #edit-field-event-image-0-ahah-wrapper  div.filefield-element,
.section-node-add #edit-field-event-image-0-ahah-wrapper  div#edit-field-event-image-0-upload-wrapper,
.section-node-edit #edit-field-event-image-0-ahah-wrapper  div#edit-field-event-image-0-upload-wrapper {
	margin: 0;
	margin: 0;
}

.section-node-add .form-item .form-radios, 
.section-node-edit .form-item .form-radios {
	margin-top: 0;
}

.section-node-add fieldset legend,
.section-node-edit fieldset legend {
	font-weight: bold;
	font-size: 14px;
	color: #084684;
	padding: 0;
}

.section-node-add fieldset,
.section-node-edit fieldset {
	border: none;
	margin-top: 20px;
	margin-bottom: 0;
	padding-left: 0;
}

.section-node-add div table thead th,
.section-node-add div table tbody,
.section-node-edit div table thead th,
.section-node-edit div table tbody {
	border: none;
	padding-left: 0;
	font-size: 14px;
	color: #084684;
        font-weight: bold;
        padding-top: 25px;
}

.section-node-add form label,
.section-node-edit form label {
	font-size: 14px;
	color: #084684;
	margin-top: 25px;
}

.section-node-add form .location label,
.section-node-edit form .location label {
	margin-top: 0px;
}

.section-node-add form label.option,
.section-node-add form fieldset #edit-earlybird-date-wrapper label,
.section-node-add form fieldset #edit-earlybird-discount-wrapper label,
.section-node-edit form label.option,
.section-node-edit form fieldset #edit-earlybird-date-wrapper label,
.section-node-edit form fieldset #edit-earlybird-discount-wrapper label {
	font-size: 12px;
	color: #000;
}

.section-node-add .description p, 
.section-node-edit .description p { 
	margin: 0;
}

.section-node-add .container-inline-date .form-item .description,
.section-node-edit .container-inline-date .form-item .description {
	display: none;
}

.section-node-add fieldset .container-inline-date div label,
.section-node-edit fieldset .container-inline-date div label,
	font-size: 12px;
	color: #000;
        margin-top: 0;
}


.section-node-add #field-event-organizer-items table,
.section-node-add #field-event-contact-person-items table,
.section-node-add #field-event-venue-items table,
.section-node-edit #field-event-organizer-items table,
.section-node-edit #field-event-contact-person-items table,
.section-node-edit #field-event-venue-items table {
	width: auto;
	margin-right: 15px;
}

.section-node-add .description,
.section-node-edit .description {
	font-size: 0.85em;
}

.section-node-add #field-event-organizer-items table,
.section-node-edit #field-event-organizer-items table {

}

#edit-role-prices-12-wrapper {
	padding-left: 33px;
}

#edit-sell-price-wrapper span.field-prefix,
#edit-role-prices-12-wrapper span.field-prefix,
#edit-earlybird-discount-wrapper span.field-prefix {
	float: left;
	margin: 3px 5px 0px 0px;
}
#edit-sell-price-wrapper input,
#edit-role-prices-12-wrapper input,
#edit-earlybird-discount-wrapper input {
	float: left;
	width: 100px;
}

#edit-sell-price-wrapper .description,
#edit-role-prices-12-wrapper .description,
#edit-earlybird-discount-wrapper .description {
	clear: left;
}

.section-node-add fieldset.vertical-tabs-base fieldset,
.section-node-edit fieldset.vertical-tabs-base fieldset {
	padding-left: 37px;
}

.section-node-add fieldset.vertical-tabs-group_event_info_only .link-field-url,
.section-node-edit fieldset.vertical-tabs-group_event_info_only .link-field-url {
	float: none;
}

.get-tip {
	background-color: #000;
	color: #fff;
	width: 20px;
	height: 20px;
	display: block;
	text-align: center;
	font-weight: bold;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	position: absolute;
}

.has-tip {}

.section-node-add .form-tip {
	
}

/**** event pages (view) ****/

.node-type-event .node-inner {
	padding-bottom: 0;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 20px;
}

.node-type-event .field-field-event-info-only-url a {
	color: #fff
}

.page-events .node-inner {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.page-events .node-inner p {
	margin: 10px 0 0;
}
/*
.page-events .region-content-bottom {
	margin-top: 10px;
}*/

/* home page flash content slideshow */
#block-views-home_flash-block_1 {
	
}

#block-views-home_flash-block_1 .view-content {	
  font-size: 13px;
}

#block-views-home_flash-block_1 .view-content .views_slideshow_singleframe_slide {
	/* views_slideshow tries to calculate the width of this div, need this to set it to the correct width */
	width: 465px; !important;
}

#block-views-home_flash-block_1 .view-content .views_slideshow_singleframe_slide .views-row .views-field-title h2 {
	margin: 0;
}

#block-views-home_flash-block_1 .view-content .views_slideshow_singleframe_slide .views-row .field-content{
}

.views_slideshow_main,
#block-views-home_flash-block_1 {
	position: relative;
}
#block-views-home_flash-block_1 .views-slideshow-controls-bottom {
	position: absolute;
  top: 155px;
  right: 95px;
  background: #454547;
  padding: 5px 7px 4px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index: 100;
  width: 56px;
}


.ie8 #block-views-home_flash-block_1 .views-slideshow-controls-bottom {
  top: 138px;
  padding: 4px 7px;
}

.ie7 #block-views-home_flash-block_1 .views-slideshow-controls-bottom {
  padding: 4px 7px 3px;
  top: 158px;
}

a.views_slideshow_previous {
  background: url(../images/icon-sprite.png) -28px 1px no-repeat; 
  height: 15px; 
  width: 20px; 
  display: block;
  float: left;
  text-indent: -10000px;
}

a.views_slideshow_previous:hover {
	background-position: -28px -23px;
}
a.views_slideshow_pause,
a.views_slideshow_play,
a.views_slideshow_play:hover {
  background: url(../images/icon-sprite.png) -53px 1px no-repeat; 
  height: 15px; 
  width: 16px; 
  display: block;
  float: left;
  text-indent: -10000px;
}

a.views_slideshow_pause:hover,
a.views_slideshow_play {
	background-position: -53px -23px;
}


a.views_slideshow_next {
  background: url(../images/icon-sprite.png) -74px 1px no-repeat;  
  height: 15px; 
  width: 20px; 
  display: block; 
  float: left;
  text-indent: -10000px;
}

a.views_slideshow_next:hover {
	background-position: -74px -23px;
}

#block-views-home_flash-block_1 .views-field-field-home-main-button-value {
	position: absolute;
	right: 0;
	top: 122px;
}

.ie8 #block-views-home_flash-block_1 .views-field-field-home-main-button-value {
  top: 105px;
}

/* main events page */
/*.page-events .region-sidebar-second {
  float: left;
  width: 255px; 
  margin-left: 725px; /* content width +10px for space *!/
  margin-right: -1004px;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. *!/
}*/

/*.page-events #content {
  width: 710px;
  margin-right: -710px; /* Negative value of #content's width + left margin. *!/
  margin-left: 0px;
}*/

.page-events .region-content-top .block {
	float: left;
}

.page-events .region-content-top .block.region-count-1 {
	width: 23%;
	margin-right: 2%;
}

.page-events .region-content-top .block.region-count-2 {
	width: 44%;
	margin-right: 1%;
}

.page-events .region-content-top .block.region-count-3 {
	width: 30%;
}

.view-events-quicktabs-list {
	clear: left;
}

.calendar-calendar table.mini td.mini {
  border: 1px solid #ccc;
  text-align: center;	  
}

/* event add pages */
/* make content smaller and sidebar larger */

.page-node-add-event #main,
.node-type-event.section-node-edit #main,
.page-node-add-event #content,
.node-type-event.section-node-edit #content{
	width: 499px;
	float:  left;
}

.page-node-add-event.sidebar-second .region-sidebar-second,
.node-type-event.sidebar-second.section-node-edit .region-sidebar-second {
	width: 468px;
	float:  right;
}

.page-node-add-event .date-clear-block,
.node-type-event.section-node-edit .date-clear-block {
	display: inline-block;
}

.page-node-add-event .date-clear-block >#edit-field-event-datetime-value2-wrapper,
.node-type-event.section-node-edit .date-clear-block>#edit-field-event-datetime-value2-wrapper {
	margin-left: 10px;
}

/* width of date element, to and from */
.page-node-add-event input#edit-field-event-datetime-value-datepicker-popup-0,
.node-type-event.section-node-edit input#edit-field-event-datetime-value-datepicker-popup-0,
.page-node-add-event input#edit-field-event-datetime-value2-datepicker-popup-0,
.node-type-event.section-node-edit input#edit-field-event-datetime-value2-datepicker-popup-0 {
	width: 95px;
}

/* width of time element, to and from */
.page-node-add-event input#edit-field-event-datetime-value-timeEntry-popup-1,
.node-type-event.section-node-edit input#edit-field-event-datetime-value-timeEntry-popup-1,
.page-node-add-event input#edit-field-event-datetime-value2-timeEntry-popup-1,
.node-type-event.section-node-edit input#edit-field-event-datetime-value2-timeEntry-popup-1 {
	width: 60px;
}

.node-type-event.section-node-edit h1 {
  padding: 5px 0 10px;
}
.section-node-edit .form-item,
.section-node-add .form-item,
.node-type-event.section-node-edit fieldset,
.node-type-event.section-node-edit #conditional-field-event-handling,
.node-type-event.section-node-edit #field-event-organizer-items,
.node-type-event.section-node-edit #field-event-contact-person-items,
.node-type-event.section-node-edit #field-event-venue-items,
.node-type-event.section-node-edit #edit-field-event-overview-0-value-wrapper {
  position: relative;
}

.node-type-event.section-node-edit .form-item,
.node-type-event.section-node-add .form-item {
  border-bottom:  1px dotted #ccc;
  padding:  0 0 15px;
  width:  100%;
}

.section-node-edit table .form-item,
.section-node-edit .form-item .form-item,
.section-node-add table .form-item,
.section-node-add .form-item .form-item {
  border-bottom: none;
  padding: 0;
  width:  auto;
}

.node-type-event.section-node-edit #conditional-field-event-handling,
.node-type-event.section-node-edit #field-event-organizer-items,
.node-type-event.section-node-edit #field-event-contact-person-items,
.node-type-event.section-node-edit #field-event-venue-items,
.node-type-event.section-node-edit #edit-field-event-overview-0-value-wrapper {
 margin-bottom: 30px;
}

.node-type-event.section-node-edit .description,
.node-type-event.section-node-add .description,
.node-type-event.section-node-edit fieldset .description,
.node-type-event.section-node-edit #edit-field-event-name-0-value-wrapper .description,
.node-type-event.section-node-edit #edit-field-event-image-0-upload-wrapper .description,
.node-type-event.section-node-edit #conditional-field-event-handling .description,
.node-type-event.section-node-edit #field-event-organizer-items .description,
.node-type-event.section-node-edit #field-event-contact-person-items .description,
.node-type-event.section-node-edit #field-event-venue-items .description,
.node-type-event.section-node-edit #edit-field-event-overview-0-value-wrapper .description,
.node-type-event.section-node-edit #edit-field-event-tagline-0-value-wrapper .description {
  background: transparent url(../images/form-arrow.png) no-repeat 0 0;
  position:  absolute;
  top: 0;
  font-size: 12px;
  padding: 0 0 0 37px;
  left: 503px;
  min-height: 40px;
  width: 420px;
}

.node-type-event.section-node-edit #conditional-field-event-handling,
.node-type-event.section-node-add #conditional-field-event-handling {
  height:  210px;
}

.section-node-add .cke_skin_kama,
.section-node-edit .cke_skin_kama {
  overflow: auto;
}

.node-type-event.section-node-edit .textarea-identifier,
.node-type-event.section-node-add .textarea-identifier,
.node-type-event.section-node-edit .vertical-tabs fieldset .description,
.node-type-event.section-node-add .vertical-tabs fieldset .description {
  background: transparent;
  position:  static;
  width:  auto;
  padding: 10px 0;
  font-size:  11px;
}

.section-node-add label,
.section-node-edit label {
 margin:  0 0 10px;
}

.section-node-add form th,
.section-node-edit form th {
  padding:  0 0 10px;
}

.page-node-add-event #block-views-event_edit_help_blocks-block_1 {top: 70px;}
.node-type-event.section-node-edit #block-views-event_edit_help_blocks-block_1 {top: 70px;}

.page-node-add-event #block-views-event_edit_help_blocks-block_2 {top: 500px;}
.node-type-event.section-node-edit #block-views-event_edit_help_blocks-block_2 {top: 500px;}

.page-node-add-event #block-views-event_edit_help_blocks-block_3 {top: 9000px;}
.node-type-event.section-node-edit #block-views-event_edit_help_blocks-block_3 {top: 9000px;}

.page-node-add-event #block-views-event_edit_help_blocks-block_4 {top: 375px;}
.node-type-event.section-node-edit #block-views-event_edit_help_blocks-block_4 {top: 375px;}

.page-node-add-event #block-views-event_edit_help_blocks-block_5 {top: 400px;}
.node-type-event.section-node-edit #block-views-event_edit_help_blocks-block_5 {top: 400px;}

.page-node-add-event #block-views-event_edit_help_blocks-block_6 {top: 140px;}
.node-type-event.section-node-edit #block-views-event_edit_help_blocks-block_6 {top: 140px;}

.page-node-add-event #block-views-event_edit_help_blocks-block_7 {top: 380px;}
.node-type-event.section-node-edit #block-views-event_edit_help_blocks-block_7 {top: 380px;}

.page-node-add-event #block-views-event_edit_help_blocks-block_8 {top: 400px;}
.node-type-event.section-node-edit #block-views-event_edit_help_blocks-block_8 {top: 400px;}

/*--- add this styling --*/
.addthis_default_style {
	display: none;
	height: 30px;
}
.nojs .addthis_default_style {
	display: block;
}
.addthis_default_style a,
li.addthis a {
	background: transparent url(../images/icon-sprite.png) no-repeat 0 0;
	height: 27px;
	margin: 0 0 0 5px;
	text-indent: -9999px;
	width: 16px;
}


ul.links li a img {
	display: none;
}
.addthis_default_style a.addthis_button_twitter {
	background-position: -32px -54px;
}

.addthis_default_style a.addthis_button_twitter:hover {
	background-position: -32px -81px;
}

.addthis_default_style a.addthis_button_facebook {
	background-position: 0 -54px;
}

.addthis_default_style a.addthis_button_facebook:hover {
	background-position: 0 -81px;
}

.addthis_default_style a.addthis_button_email {
	background-position: -65px -54px;
}

.addthis_default_style a.addthis_button_email:hover {
	background-position: -65px -81px;
}

.addthis_default_style a.addthis_button_print {
	background-position: -97px  -54px;
}

.addthis_default_style a.addthis_button_print:hover {
	background-position: -97px -81px;
}

/*--- agenda ---*/
h2.agenda-top {
  line-height: 1.8;
}

.node-type-agenda .imagecache {
  float:  right;
  margin:  -40px 0 0;
}

.node-type-agenda .view-display-id-node_content_2 {
  margin-top: 15px;
  border-top: 1px dotted #ccc;
  padding-top:  15px;
}
.node-type-agenda .view-display-id-node_content_2 h4 {
color: #282829;
font-size: 14px;
margin: 0 0 12px 0;
font-family: 'FagoNoLfBold', 'helvetica neue', 'helvetica', 'arial', sans-serif;
font-weight: normal;
text-transform: uppercase;
}

.node-type-agenda .view-display-id-node_content_2 .views-field-field-event-name-value a {
  font-size: 13px;
  font-family: 'verdana', 'arial', 'helvetica', sans-serif;
}
/*---venue nodes---*/
.org-row {
  clear: both;
  font-size: 13px;
  font-weight: normal;
	padding: 0 0 10px;
	border-bottom: 1px dotted #ccc;
}

.org-row h3 {
	font-size: 14px;
	margin: 7px 0;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'FagoNoLfBold';
}

.org-row .org-logo {
  float: right;
  width: 25%;
  text-align: right;
}


.node-type-organization #main {
  margin-top: 8px;
	width: 675px;
}

.node-type-organization .region-sidebar-second {
  float: right;
  margin: 0;
	width: 311px;
}

.node-type-organization .region-sidebar-second  .section {
	border-left: none;
	padding: 0;
}

.node-type-organization .region-sidebar-second  .block {
	border-radius: none;
}


/*---venue nodes---*/
.venue-row {
  clear: both;
  font-size: 13px;
  font-weight: normal;
	padding: 0 0 10px;
	border-bottom: 1px dotted #ccc;
}

.venue-row h3 {
	font-size: 14px;
	margin: 7px 0;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'FagoNoLfBold';
}

.about .info {
  float: left;
  width: 73%;
}

.venue-row .field-field-venue-image {
  float: right;
  width: 25%;
  text-align: right;
}

.address-hours {
  height: 90px;
	min-height: 90px;
	height: auto;
}

.address-hours .court-info,
.address-hours .hours {
	float: left;
	width: 49%;
}

.pros .views-row {
  border-bottom: 1px dotted #ddd;
  margin: 0 0 15px 0;
  padding-bottom: 15px;
	padding-left: 115px;
	min-height: 50px;
	position: relative;
}

.pros .views-row-last {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 5px;
}
.pros .views-row .views-field-field-user-profile-photo-fid {
  position: absolute;
  margin: 0 0 0 -115px;
  width: 110px;
}

.pros .views-row .views-field-field-user-profile-photo-fid h3 {
	margin: 3px 0;
	font-family:  'FagoNoRegular', 'FagoNoLfBold', sans-serif;
	color: #333;
	text-transform: none;
}

.pros .views-field-uid {
	text-align: right;

}

.pros .views-field-uid br {
	display: none;
}

.pros .views-field-uid p {
	text-align: left;
}
.pros .views-field-uid a:link,
.pros .views-field-uid a:visited {
  background: #454547;
  color: #ebebeb;
  font-size: 13px;
  font-family: 'FagoNoLfBoldItalicBoldItalic', 'helvetica', sans-serif;
  font-weight: normal;
  padding: 5px 11px;
  line-height: 1.5em;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;	
  -webkit-font-smoothing: antialiased;	
}

.pros .views-field-uid a:hover {
	background: #fbc050;
	color: #282829;
	text-decoration: none;
}
.venue-row .photos {
	border-bottom: none;
}

.photos .views-row {
  float: left;
  margin: 0 5px 10px;
	width: 95px;
}
.node-type-venue #main {
  margin-top: 8px;
	width: 631px;
}
.node-type-venue .region-sidebar-second {
	width: 371px;
}

.node-type-venue .region-sidebar-second  .section {
	border-left: none;
}

.node-type-venue .region-sidebar-second  .block {
	border-radius: none;
}

.page-venues #edit-city,
.page-venues #edit-province,
.page-venues #edit-country,
.page-venues #edit-distance-postal-code {
  width: 230px;
}

.page-venues #edit-distance-search-distance
{
  float: left;
  margin-right: 10px;
  width: 142px;
}

.ie .page-venues #edit-distance-search-distance
{
  width: 138px;
}


.page-venues #edit-distance-postal-code-wrapper {
  margin: 10px 0;
}

/*-----Event nodes -----*/

.node-type-event .field-field-event-type {
	position: absolute;
	top: -90px;
	right: 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	padding: 4px 7px;
	background-color: #1fa11f;
}

.ie7 .node-type-event .field-field-event-type {
  top: -106px;
}

.admin-nw .node-type-event .field-field-event-type {
 padding-top:5px;
 padding-bottom:5px;
 top: -128px;
}

.event-row {
  clear: both;
  font-size: 13px;
  font-weight: normal;
  position: relative;
	padding: 0 0 10px;
	border-bottom: 1px dotted #ccc;
}

.event-row .info p {
	margin: 0 0 10px;
}

.event-row h3 {
	font-size: 14px;
	margin: 7px 0;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'FagoNoLfBold';
}

.event-row .info img {
  float: right;
  text-align: right;
  margin: 0 0 0 20px;
}

.event-row.photos .view-header {
	position: absolute;
	top: 3px;
	right: 0;
}

.event-row.photos .node-inner,
.event-row.photos .views-row .views-row,
.event-row.photos .content {
	margin: 0;
}

.event-row.photos,
.event-row.photos h2.title a {
	font-size: 12px;
}

.event-row.photos .view h2.title {
	margin: 0;
}

.node-type-event h1 {
  padding-right:  120px;
  line-height: 1.1;
	padding-bottom: 35px;
}

.node-type-event div.field-field-event-datetime {
	font-family: 'FagoNoLfBold', sans-serif;
	font-size: 1.1em;
  position: absolute;
  top: -50px;
}


.ie7 .node-type-event div.field-field-event-datetime {
  top: -64px;
}

.admin-nw .node-type-event div.field-field-event-datetime {
  top: -91px;
}
.node-type-event .add-to-cart .node-add-to-cart,
.node-type-event .field-field-event-info-only-url,
.event-row .info a.contact-link,
.node-type-event form.closed-event {
  background: #454547;
  color: #ebebeb;
  border: none;
  font-size: 15px;
  font-family: 'FagoNoLfBoldItalicBoldItalic', 'helvetica', sans-serif;
  font-weight: normal;
  float: left;
  margin: 8px 8px 0 0;
  padding: 2px 0;
  line-height: 1.7;
  border-radius: 8px;
  text-shadow: 0;
  text-align: center;
  width: 95px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
}

.node-type-event .add-to-cart .node-add-to-cart:hover,
.node-type-event .field-field-event-info-only-url:hover,
.event-row .info a.contact-link:hover {
	background: #fbc050;
	color: #282829;
	cursor: pointer;
	text-decoration: none;
}

.node-type-event .add-to-cart .node-add-to-cart {
/*	background: #297914;*/
	background: #f9bd4f;
	color: #111;
	padding: 2px 0;
	line-height: 2;
	float: none;
}

.node-type-event form.closed-event {
	background: #999;
	cursor: no-drop;
}

.node-type-event form.closed-event .attributes {display: none};

.event-row.venues .view-display-id-block_1 .view-content {
	margin: 0;
	padding: 0 0 10px;
	  border-bottom: 1px dotted #ccc;
	
}

.event-row.venues .view-display-id-block_1 .attachment .view-content {
  padding: 0;
  border-bottom: none;
}

.event-row.venues .view-display-id-block_1 .attachment .views-row {
	float: left;
	margin: 10px 15px 15px 0px;
	width: 31%;
}

.node-type-event #main,
.node-type-team #main {
  width: 700px;
  margin-right: 0;
  margin-left: 0;
}

.node-type-event .region-sidebar-second,
.node-type-team .region-sidebar-second {
  float: right;
  margin: 0;
	width: 302px;
}

.view-event-tabs.view-display-id-block_7 .views-row,
.group-events .views-row,
.view-Organizations.view-display-id-block_3 .views-row {
	font-size: 13px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px;
	margin: 5px 0;
	padding-left: 75px;
	position: relative;
  min-height: 30px;
}

.view-event-tabs.view-display-id-block_7 .views-row-last,
.group-events  .views-row-last,
.view-Organizations .views-row-last {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.view-event-tabs.view-display-id-block_7 .views-field-field-event-name-value a {
  margin: 0;
  font-size: 17px;
  line-height: 1.7em;
}

.group-events .views-field-field-event-name-value a,
.view-Organizations .views-field-field-event-name-value a {
  font-size: 22px;
  line-height: 1.5em;
  margin: 0;
}

.view-event-tabs.view-display-id-block_7 .date-display-single,
.group-events .date-display-single,
.view-Organizations .date-display-single {
	background: transparent url(../images/icon-sprite.png) no-repeat -127px -130px;
	font-weight: bold;
	font-size: 11px;
	letter-spacing: -1px;
	height: 29px;
	margin: 0 0 0 -75px;
	line-height: 2.6em;
	display: block;
  padding: 0 5px 0 0;
  text-align: center;
	width: 63px;
	position: absolute;
}

#block-views-event_tabs-block_10 {
  background: #666 url(../images/md-grey-bg.jpg);
  padding: 10px 10px 0;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#block-views-event_tabs-block_10 h2.title {
  color: #fff;
  font-size: 1.4em;
}

.node-type-event .add-to-cart .node-add-to-cart,
.node-type-event form.closed-event {
  float: none !important;
}

#block-views-event_tabs-block_8 label {
  display:  block;
  color: #282829;
  font-size: 14px;
  margin: 12px 0;
  font-family: 'FagoNoLfBold', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

#block-views-event_tabs-block_8 a.contact-link {
 background: #454547;
 color: #ebebeb;
 border: none;
 font-size: 15px;
 font-family: 'FagoNoLfBoldItalicBoldItalic', 'helvetica', sans-serif;
 font-weight: normal;
 display: block;
 margin: 8px 8px 0 0;
 padding: 2px 0;
 line-height: 1.7;
 border-radius: 8px;
 text-shadow: 0;
 text-align: center;
 width: 95px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -o-border-radius: 5px;
 -ms-border-radius: 5px;
 -khtml-border-radius: 5px;
 border-radius: 5px;
 -webkit-font-smoothing: antialiased; 
}

/*--- event list ----*/

.page-events-event-list #content-area .views-row {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #ccc;
	font-size: 13px;
}
.page-events-event-list #content-area .views-field-nothing {
	padding: 0 0 0 60px;
}
.page-events-event-list #content-area .views-field-nothing a.date-link {
  zoom: 1;

}
.page-events-event-list #content-area h3 {
	display: block;
	font-size: 27px;
	margin: 5px 0 9px;
	font-weight: normal;
	color: #a3620a;
	font-family: 'FagoCoMediumBold', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.page-events-event-list #content-area a:hover h3 {
	color: #282829;
}
.page-events-event-list .event-information {
	width: 70%;
	float: left;
}
.page-events-event-list #content-area img {
	float: right;
}

.page-events-event-list #content-area .more-links {
	float: left;
	text-align: left;
	width: 70%;
}
.page-events-event-list #content-area .add-to-cart {
	float: left;
	margin-top: -3px;
	margin-right: 6px;
}

#block-block-72 {
	margin: 10px 0 15px;
	border-bottom: 1px dotted #ccc;
	padding:  0;
	line-height: 1.2em;
	height: 26px;
}

#block-block-72 a {
	background: #eee;
	color: #282829;
  float: left;
  margin: 0 7px 0 0;
  font-size: 11px;
	padding: 5px 10px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	display: block;
	text-transform: uppercase;
}

#block-block-72 a:hover {
  background: #fbc050;
  text-decoration: none;
}

#block-block-72 a.active,
.section-calendar #block-block-72 a.calendar-view {
	background: #454445;
	color: #fff;
}

/**event calendar---*/

.calendar-calendar ul.links {
	border-bottom: 1px dotted #ccc;
	margin: 0px 0 10px;
	padding: 0px 0 10px;
}

.calendar-calendar ul.links li a{
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
}

.calendar-calendar div.date-nav {
	background: transparent;
	border: none;
}

.calendar-calendar div.date-nav a {
 	color: #a3620a;
  font-family: 'FagoNoLfBoldItalicBoldItalic';
}

.calendar-calendar div.date-nav h3,
.calendar-calendar div.date-nav h3 a {
	font-size: 24px;
	font-weight: normal;
	color: #282829;
	font-family: 'FagoCoMediumBold', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.date-nav div.date-prev,
.date-nav div.date-next{
  height: 35px;
  display: table-cell;
}

.calendar-calendar td .inner div,
.calendar-calendar td .inner div a {
	background: transparent;
}

.calendar-calendar th.days,
.calendar-calendar th {
  color: #282829;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  background:transparent;
  text-align:center;
  padding: 7px 1px;
  margin:0;
  border: 1px dotted #ccc;
}

.calendar-calendar td,
.calendar-calendar td.calendar-agenda-items {
  border: 1px dotted #ccc;
  border-top: 1px #333;
  color: #282829;
  padding: 0;
}

.calendar-calendar .inner{
  min-height:6em;
  height:auto !important;
  height:6em;
  padding:0;
  margin:0;
  border-top: none;
}

.calendar-calendar div.day,
.calendar-calendar td div.day {
  float:right;
  font-size: 11px;
  text-align:center;
  padding:0.125em 0.25em 0 0.25em;
  margin:0;
  background-color: #fff;
  border: none;
  clear:both;
  width: 1.5em;
}
.calendar-calendar td .inner div.day a{color:#a3620a;}

.calendar-calendar td .inner div,.calendar-calendar td .inner div a{background:#fff;}

.calendar-calendar tr td.today,.calendar-calendar tr.odd td.today,.calendar-calendar tr.even td.today{background-color: #e6d298;}

.calendar-calendar td.empty{
	border-color:#ccc;
background-color: #f1f0f1;
}
.calendar-calendar td.calendar-agenda-hour{
font-family: 'verdana', sas;
text-align: right;
border:none;
border: 1px #ccc dotted;
padding-top:.25em;
width:1%;
}

.calendar-calendar table.mini td.mini {
	border: 1px dotted #ccc;
}

/*----news page---*/

.node-type-story h2.node-title {
	display: block;
	font-size: 23px;
	margin: 5px 0;
	font-weight: normal;
	color: #a3620a;
	font-family: 'FagoCoMediumBold', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.node-type-story .read-more a strong {
	font-weight: normal;
}

.info-box {
  background: #f5f5f5;
	float: left;
	padding: 5px 10px;
	margin: 0 10px 10px 0;
	font-size: 12px;
}

.info-box .addthis_toolbox {
	position: static;
	padding: 7px 0 0;
}

.info-box .author,
.info-box .comments,
.info-box .date {
	padding: 5px 0;
	border-bottom: 1px dotted #ccc;
}


/*---blog page-----*/
.page-blogs #content,
.page-news #content {
  width: 700px;
  margin-right: 0;
  margin-left: 0;
}

.page-blogs .region-sidebar-second,
.page-news .region-sidebar-second {
  float: right;
  margin: 0;
	width: 260px;
}

.page-blogs .view-feeds .views-row {
	clear: both;
	font-size: 13px;
	font-weight: normal;
	position: relative;
	padding: 0 0 10px;
	min-height: 110px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}

.page-blogs .view-feeds .views-field-name a {
	color: #282829;
	margin: 0 0 5px 0;
	font-family: 'FagoNoLfBold', sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
}

.page-blogs .view-feeds .views-field-teaser {
	padding: 0 0 0 65px;
}

.page-blogs .view-feeds .views-field-view-node {
	clear: both;
	display: block;
	float: none;
	height: 35px;
}

/*----group nodes----*/
.node-type-group h1.title {
	padding-right: 130px;
  padding-bottom: 10px;
	line-height: 1.2em;
}
.group-row {
	clear: both;
	font-size: 13px;
	font-weight: normal;
	position: relative;
	padding: 0 0 10px;
	border-bottom: 1px dotted #ccc;
	zoom: 1;
}

.group-row.about .more-links {
	text-align: left;
}
.group-row h3 {
	font-size: 14px;
	margin: 7px 0;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'FagoNoLfBold', 'helvetica neue', 'helvetica', 'arial', sans-serif;
}

.group-row.photos .emvideo-thumbnail-replacement span {
	background: url("../images/emvideo-play-small.png") no-repeat scroll 0px 0px transparent !important;
    height: 40px;
    width: 40px;
	top: 30px;
	left: 30px;
}/*
.group-row.photos .emvideo-thumbnail-replacement span {
  background-position: -40px 0;
}*/
.group-events {
	border-right: 1px dotted #ccc;
	padding-right: 10px;
}

.group-row.events-blog {
	padding: 0;
}
.group-row.events-blog h3 {
	margin-top: 0;
}

.group-events,
.group-blogs {
  margin: 10px 0;
  float: left;
	width: 47.5%;
	min-height: 120px;
}
.group-blogs {
  margin-left: 17px;
}

.group-blogs .views-field-name a {
	color: #282829;
	margin: 0 0 5px 0;
	font-family: 'FagoNoLfBold', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

.group-blogs .views-field-title a {
display: block;
font-size: 23px;
margin: 5px 0;
font-weight: normal;
color: #a3620a;
font-family: 'FagoCoMediumBold', sans-serif;
-webkit-font-smoothing: antialiased;
}

.group-blogs .views-row {
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
}
.group-blogs .views-row-first {
	padding: 0 0 10px;
}
.group-blogs .views-row-last {
	padding: 10px 0 0;
	border-bottom: none;
}




.landing-page h1.title,
.profile-page h1.title {
  color: #fff;
	margin: 0 0 15px 0;
	padding: 0 0 5px 0;
	font-family: 'FagoNoLfBold', sans-serif;
	font-weight: normal;
	font-size: 35px;
	border-bottom: 1px dotted #ccc;
	-webkit-font-smoothing: antialiased;
}

.landing-page .node .content {
	background: transparent;
}

.landing-page .node .content p,
.profile-page #content p {
  font-size: 14px;
  line-height: 1.4em;
}

.landing-page .node a:link,
.landing-page .node a:visited,
.profile-page  #content a:link,
.profile-page #content a:visited {
	color: #f9bd4f;
}

.landing-item,
.landing-view .views-row {
	background: #fff;
	color: #333;
	padding: 15px 10px;
	float: left;
	margin: 10px 10px 0px 0;
	height: 180px;
	position: relative;
	width: 98%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.landing-item .content {
	font-size: 13px;
}

.sidebar-second .landing-item,
.sidebar-second .landing-view .views-row {
	width: 20.7%;
}

.landing-page #content-bottom .block {
  border-bottom:  none;
}

.no-sidebars.blocks2 .landing-item {
  width: 475px;
}

.sidebar-second.blocks2 .landing-item {
  width: 341px;
}

.blocks2 .landing-item.region-count-2 {
  margin-right:  0;
}

.no-sidebars.blocks3 .landing-item {
  width: 307px;
}

.sidebar-second.blocks3 .landing-item {
  width: 217px;
}

.blocks3 .landing-item.region-count-3 {
  margin-right: 0;
}

.no-sidebars.blocks4 .landing-item {
  width: 223px;
}

.sidebar-second.blocks4 .landing-item {
  width: 155px;
}

.blocks4 .landing-item.region-count-4 {
  margin-right: 0;
}

.no-sidebars.blocks5 .landing-item {
  width: 307px; 
}

.no-sidebars.blocks5 .landing-item.region-count-4,
.no-sidebars.blocks5 .landing-item.region-count-5 {
  width: 475px;
}

.sidebar-second.blocks5 .landing-item {
  width: 217px;
}

.sidebar-second.blocks5 .landing-item.region-count-4,
.sidebar-second.blocks5 .landing-item.region-count-5 {
  width: 341px;
}
.blocks5 .landing-item.region-count-3,
.blocks5 .landing-item.region-count-5 {
  margin-right: 0;
}

.landing-item .more-links,
.landing-view .views-row .more-links {
   text-align: left;
   clear:  both;
}
/*.landing-item.first-item {
	margin-left: 0;
}

.landing-item.last-item {
	margin-right: 0;
}*/
.landing-view .views-row {
	min-height: 135px;
}
.landing-item h2.title {
/*  background: #f8bc4f url(../images/bottomtab.jpg) no-repeat 50% 100%;
  //background: #e1e1e1;
  padding: 10px 0 20px;
  color: #282829;
	font-family: 'FagoCoMediumBold', helvetica, sans-serif;
	font-weight: normal;
	font-size: 2em;
	/*line-height: 40px;*!/
	text-transform: uppercase;
	margin: 0 0 10px;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
}

.landing-item h2.title,
.landing-view .views-field-title a {
  font-family: 'FagoCoMediumBold', helvetica, sans-serif;
  font-weight: normal;
  display: block;
  margin: 0 0 10px;
  padding-bottom: 10px;
  border-bottom: 2px dotted #ddd;
  text-align: center;
  font-size: 2em;
}

.landing-item .more-links {
  padding: 20px 0 0;
}

/*.landing-item.three-items {
	width: 30%;
}

.sidebar-second .landing-item.three-items,
.page-about-awards .landing-view .views-row {
	width: 29%;
}

.sidebar-second .landing-item.three-items {
  height: 220px;
}

.sidebar-second .landing-item.three-items .content {
  max-height: 200px;
}*/

.landing-view .field-content {
	font-size: 13px;
	margin: 10px 0 0;
}

.profile-page h1.title .account-buttons {
	font-size: 15px;
	line-height: 1.5em;
	position: relative;
	top: -6px;
	font-family: 'FagoNoRegular', helvetica, sans-serif;
	text-transform: uppercase;
}

.profile-page #content .account-buttons a:link,
.profile-page #content .account-buttons a:visited {
	color: #eee;
	padding: 0 10px;
}

.profile-page #content .account-buttons a:hover {
	color: #fff;
}


.profile-page #content .account-buttons a.edit-user {
	border-right: 1px dotted #ccc;
}

.profile-page #content-bottom {
	background: #fff;
	padding: 15px;
	width: 976px;
	border-right: none;
	float: left;
	margin: 12px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.profile-page ul.primary {
	margin: 0;
}

.profile-page .tabs {
	margin-bottom: 15px;
}

.profile-page .profile {
	margin: 15px 0 0;
}

.profile-page .profile .profile-photo img {
	float: left;
	margin: 0 15px 0 0;
}

.profile-page .profile .bio {
	float: left;
	width: 76%;
	padding-bottom: 15px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}

.profile-page .profile .home-clubs {
	float: left;
}

.profile-page .profile .profile-image img {
	float: right;
	margin: 0 0 0 15px;
}

.profile-page .profile h3 {
	margin: 0 0 10px;
	border-bottom: none;
	font-family: 'FagoNoLfBold', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 15px;
}

.profile-page .profile .home-clubs a {
	display: block;
	line-height: 1.5em;
}

.profile-page .fb-like {
	position: absolute;
	right: 0;
	top: 20px;
}

.profile-page #content-bottom h2.title {
	font-size: 14px;
	margin: 7px 0;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'FagoNoLfBold', sans-serif;
}


.profile-page .profile-photos {
	float: left;
	width: 45%;
	padding-right: 2%;
	margin-right: 2%;
	margin-bottom: 15px;
	border-right: 1px dotted #ccc;
}


.profile-page .profile-videos {
	float: left;
	width: 50%;
}
.profile-page .view-pics-of-user .views-row {
  float: left;
  margin: 5px 5px 0;
  width: 90px;
  font-size: 12px;
}

.profile-page .profile-photos h2.title,
.profile-page .profile-videos h2.title {
  margin-top: 0;
}

.profile-page .profile-matches {
	clear: both;
	display: block;
  padding: 10px 0 0;
  border-top: 1px dotted #ccc;
}

.view-user-public-profiles .views-row div {
	padding: 5px 0;
	border-bottom: 1px dotted #ccc;
	font-size: 13px;
}

.view-user-public-profiles .views-row label {
	font-weight: bold;
}


.view-user-public-profiles .views-row .field-content,
.view-user-public-profiles .views-row .views-field-address div,
.view-user-public-profiles .views-row .views-field-field-profile-club-nid div {
	border-bottom: none;
	padding: 0;
}

/*--- teams-----*/
.team-row {
  clear: both;
  font-size: 13px;
  font-weight: normal;
  position: relative;
	padding: 0 0 10px;
	border-bottom: 1px dotted #ccc;
}

.team-row .info {
	float: left;
	width: 57%;
}

.team-row h3,
.team-row h2 {
	font-size: 14px;
	margin: 7px 0;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'FagoNoLfBold';
}

.team-row img {
  float: right;
  text-align: right;
  margin: -30px 0 0 10px;
}

.team-box {
  border-right: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
	width: 46%;
	padding: 1% 4% 4% 0;
	float: left;
	height: 50px;
}

.ie .team-box {
  width: 45%;
}
.team-box.odd {
	padding: 1% 0 4% 4%;
	border-right: none;
}
.team-box.bottom {
	border-bottom: none;
	padding-top: 4%;
}

.team-box h3 {
	margin: 0;
}

table#squash-team-schedule {
	padding-bottom: 12px;
	margin-bottom: 12px;
  border-bottom: 1px dotted #ccc;
}

/*---match nodes---*/
.match-row {
  clear: both;
  font-size: 13px;
  font-weight: normal;
  position: relative;
	padding: 0 0 10px;
	border-bottom: 1px dotted #ccc;
}

.match-row h3 {
	font-size: 14px;
	margin: 7px 0;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'FagoNoLfBold';
}

.match-box {
  border-right: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
	width: 46%;
	padding: 1% 4% 1% 0;
	float: left;
	height: 62px;
}

.ie .match-box {
  width: 45%;
}
.match-box.odd {
	padding: 1% 0 1% 4%;
	border-right: none;
}
.match-box.bottom {
	border-bottom: none;
}

.match-box h3 {
	margin: 0 0 10px;
}

.match-row-header {
  font-size: 16px;
  padding: 5px 0;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'FagoNoLfBold';
}
.scores {
  border-bottom: none;
}
.match-row-header {
  background: #eee;
  line-height: 1.5em;
}
.match-row .match-team {
  display: inline-block;
  width: 43%;
  text-indent: 10px;
}

.ie .match-row .match-team {
  width: 42%;
}
.match-row .match-game {
  display: inline-block;
  width: 9%;
  text-align: center;
}

.match-row .match-content {
  border-bottom: 1px dotted #ccc;
  font-size: 14px;
  line-height: 3em;
}

.winner {
  background: transparent url(../images/icon-sprite.png) -113px 0;
  display: inline-block;
  color: #fff;
  font-family: 'FagoNoLfBold';
  text-transform: uppercase;
  line-height: 1.7em;
  font-size: 13px;
  height: 22px;
  padding: 0;
  text-align: left;
  width: 70px;
}
.loser {
  background: transparent url(../images/icon-sprite.png) -113px -23px;
  display: inline-block;
  color: #fff;
  font-family: 'FagoNoLfBold';
  text-transform: uppercase;
  line-height: 1.7em;
  font-size: 13px;
  height: 22px;
  padding: 0 0 0 5px;
  width: 65px;
}


/*---- clothing----*/
.node-type-clothing .field-field-clothing-image a.imagefield {
  margin:  0 30px;
}