/* @override 
	http://www.nysquash.net/sites/all/themes/squashv3/css/print.css?y */

/* $Id: print.css,v 1.8.2.1 2010/06/26 15:36:04 johnalbin Exp $ */

/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */


/* underline all links */
a:link,
a:visited {
  text-decoration: underline !important;
}

/* Don't underline header */
#site-name a:link,
#site-name a:visited {
  text-decoration: none !important;
}

/* CSS2 selector to add visible href after links */
#content a:link:after,
#content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 0.8em;
  font-weight: normal;
}

/* Un-float the content */
#content,
#content .section {
  float: none;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

/* Turn off any background colors or images */
body,
#page-wrapper,
#page,
#main-wrapper,
#main,
#content,
#content .section {
  color: #000;
  background-color: transparent !important;
  background-image: none !important;
}

/* Hide sidebars and nav elements */
#skip-link,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.breadcrumb,
div.tabs,
.links,
.taxonomy,
.book-navigation,
.forum-topic-navigation,
.pager,
.feed-icons {
  visibility: hidden;
  display: none;
}

/* If you un-comment the "page { overflow-y: hidden; }" ruleset, Firefox clips
   the content after the first page. */
#page-wrapper {
  overflow-y: visible;
}

#pre-header-wrapper {
  display: none;
}

#header {
  background:  #fff;
  height: 75px;
  border-bottom: 1px solid #ccc;
}
#header .section {
  width:  90%;
}

#header .logo {
  text-indent: -119988px;
  display:  block;
  background: transparent url(/sites/default/files/imagecache/100x100_Thumbnail_scale/NYS_Logo_Black_0.jpg) no-repeat 0 0;
  height: 22px;
  width:  100px;
  margin:  0 auto;
}
.region-header {
  display: none;
}
#nav {
  display: none;
}
#main-wrapper {
  width: 90%;
}
.sidebar {
  display: none;
}
.sidebar-second #main {
  width:  100%;
}
#content,
.sidebar-second #main #content {
  border: none;
}
.calendar-calendar div.day, .calendar-calendar td div.day {
  width: 90%;
  text-align: right;
  margin-bottom:  10px;
  background: transparent;
}
.date-nav div.date-prev, .date-nav div.date-next {
  display: none;
}
.date-nav div.date-heading {
  width: 100%;
  padding: 0;
}
a {
  color: #000;
}
.calendar-calendar td .inner div.calendar div, .calendar-calendar td .inner div.calendar div a {
  line-height: 1.5;
}