.user-profile {
	margin-top: 0;
}

#user-top {
	width: 1004px;
	margin: 0 auto;
	color: #fff;
	background-color: #085394;
}

#user-top a {
	color: #fff;
}

#user-top a:hover {
	text-decoration: underline;
}

div.content-profile-display {
  border: none;
  margin: 10px 0;
  padding: 0 10px 10px;
}

#user-top-inner {
	padding: 10px;
}

#user-left {float: left;}

#user-name {
	font-size: 22px;
	font-weight: bold;
}

#edit-profile,
#edit-account {
	display: inline-block;
}

#user-middle {
	float: left;
	margin-top: 25px;
	padding: 0 10px;
	width: 245px;
}

#user-fields div {
	color: #000;
	font-weight: bold;
}

#user-right {float: right;}

#user-bottom {
	width: 974px;
	margin: 0 auto;
}

#user-bottom-inner {}

#quicktabs-8 {}

#quicktabs-8 ul {
	float: right !important;
	width: 230px;
}

#quicktabs-8 ul.quicktabs_tabs li {
	
}

#quicktabs-8 ul.quicktabs_tabs li a.qt_tab {
	width: 180px;
	padding: 8px 10px;
}

#quicktabs-8 #quicktabs_container_8  {
	width: 749px;
	padding-left: 15px;
	clear: left;
	margin-bottom: 40px;
}
