.event-price-matrix td {
  border: 1px solid black;
}

/**
 * Styles for the three user search fields (and Apply+Reset buttons) in the top bar for webmasters.
 */
#views-exposed-form-user-list-page-2 #filter-name input {
  height:21px;
  width: 70px;
  font-size: 11px;
  padding: 2px;
}
#views-exposed-form-user-list-page-2 .form-submit {
  margin-top: 0;
  height: 21px;
  padding:4px;
  width:43px;
}

/**
 * Search result styles.
 */
.view-NY-Squash-Search .views-row {
  margin-bottom: 1.5em;
}
.view-NY-Squash-Search .views-row .search-link {
  font-size: 16px;
}
.view-NY-Squash-Search .views-row .search-path {
  color: #0A6AA3;
}
