ul#ucan {
  margin: -3px 0 12px;
  padding: 0;
	height: 110px;
	display: block;
	clear: both;
	background: #666 url(../images/md-grey-bg.jpg);
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#ucan li {
	border-bottom: none;
	border-right: 1px dotted #fff;
  display: inline;
  float: left;
  margin: 10px 0;
  padding: 1px 10px;
	width: 104px;
  cursor: pointer;
  z-index: 10;
}

#ucan li.last {
	border-right: none;
}


#ucan li .icon {
    background: url("../images/sprite.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 50px;
    margin: 0 27px;
    position: absolute;
    width: 50px;
}
#ucan li .on {
    opacity: 1;
}
#ucan li .off {
    opacity: 1;
}
#ucan li:hover .off {
    opacity: 0;
}
#ucan li a {
  color: #fff;
  display: block;
  font-size: 11px;
  height: 33px;
  padding: 55px 0px 0px 0px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

#ucan li.active {
    
}

#ucan li.active a {
	color: #fbbf4f
}

#ucan li.con .on {
    background-position: 11px -50px;
}
#ucan li.active.con .on {
    background-position: 11px -107px;
}
#ucan li.con .off {
    background-position: 11px 5px;
}

#ucan li.active.fac .on {
    background-position: -465px -107px;
}
#ucan li.fac .on {
    background-position: -465px -50px;
}
#ucan li.fac .off {
    background-position: -465px 5px;
}

#ucan li.active.fat .on {
    background-position: -106px -107px;
}
#ucan li.fat .on {
    background-position: -106px -50px;
}
#ucan li.fat .off {
    background-position: -106px 5px;
}

#ucan li.active.aev .on {
    background-position: -587px -107px;
}
#ucan li.aev .on {
    background-position: -587px -50px;
}
#ucan li.aev .off {
    background-position: -587px 5px;
}

#ucan li.active.jal .on {
    background-position: -229px -107px;
}
#ucan li.jal .on {
    background-position: -229px -50px;
}
#ucan li.jal .off {
    background-position: -229px 5px;
}

#ucan li.active.shr .on {
    background-position: -707px -107px;
}
#ucan li.shr .on {
    background-position: -707px -50px;
}
#ucan li.shr .off {
    background-position: -707px 5px;
}

#ucan li.active.lag .on {
    background-position: -350px -107px;
}
#ucan li.lag .on {
    background-position: -350px -50px;
}
#ucan li.lag .off {
    background-position: -350px 5px;
}

#ucan li.active.vol .on {
    background-position: -924px -107px;
}
#ucan li.vol .on {
    background-position: /*-820px*/-924px -51px;
}
#ucan li.vol .off {
    background-position: -924px 5px;
}

/** DO NOT remove .front from those with .desc classes, ubercart uses this class too and the styles for cart get all screwed up **/
.front .desc {
  position: absolute;
	top: 40px;
	left: 20px;
  height:  auto;
	width: 440px;
	margin: 0;
	background: rgba(40,40,41,0.85);
	color: #fff;
	border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc282829,endColorstr=#cc282829); /* IE6–IE9 */
  zoom: 1;
}

.ie7 .front .desc {
  position: static;
  height: 280px;
  margin: -300px 0 20px 20px;
}

.front .desc div {
 display: none;
 padding: 10px 15px;
 font-size: 20px;
 margin: 0;
}

.front .desc div.howucan {
    display: block;
    padding: 10px 15px;
}

.front .desc a {
    color: #fff;
}


.front .desc div a.more {
	padding: 6px 0 0;
	background: transparent url(../images/icon-sprite.png) no-repeat 0 -206px;
	color: #fff;
	font-size: 15px;
	margin: 0 0 15px;
	font-family: 'FagoNoLfBold', 'helvetica neue', sans-serif;
	text-transform: uppercase;
	display: block;
	float: right;
	height: 32px;
	text-align: center;
	width: 106px;
}

.ie7 .front .desc div a.more {
  line-height: 1.4em;
}

.front .desc div a.more:hover {
	background-position: -120px -206px;
	color: #282829;
}

.front .desc div h2 {
    font-weight: normal;
    font-family: 'Abel', 'helvetica neue', sans-serif;
    font-size: 54px;
    color: #ebebeb;
    margin: 0;
    padding: 0;
    line-height: 0.95em;
    text-transform: uppercase;
}
.front .desc div p,
.front .desc div.howucan h1 {
  font-weight: normal;
  font-size: 15px;
  border: none;
  color: #ebebeb;
  margin: 10px 0;
  text-align: left;
  line-height: 1.3em;
}

.front .desc div.howucan h1 .caps {
    font-weight: 700;
}