/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */


.more-link a {
	color: #a3620a;
	font-size: 14px;
	font-family: 'FagoNoLfBoldItalicBoldItalic';
}

h3.view-title {
	text-transform: uppercase;
	margin: 10px 0 3px;
}

.view table caption {
	font-size: 23px;
	color: #282829;
	margin-bottom: .4em; 
	font-weight: normal;
  font-family: 'FagoNoRegular', sans-serif;
  text-align: left;
}

table.views-view-grid {
	margin-top: 0;
}
 
/* board page */ 
#content-area .view-board-list table.views-view-grid td {
	vertical-align: top;
	text-align: center;
	padding: 0 30px 20px;
	border: none;
}

/* consistency in most tables' formatting */
table td,
.squash td,
.quicktabs-tabpage table td {
/*	font-size: 14px;
	border-top: 5px solid #f5f5f5;*/
	background-color: #fff;
}

.sidebar table td {
	background: transparent;
	border: none;
}

.squash .expiration {
	display: block;
}

.front .view .views-table td.views-field-field-event-datetime-value,
.front .view .views-table td.views-field-field-event-datetime-value-1,
.front .view .views-table td.views-field-created {
	width: 48px;
	text-align: center;
	border-top: 1px solid #b2b2b2;
	padding: 7px;
}

.front .view .views-table td,
.front .squash td,
.front .quicktabs-tabpage table td {
	font-size: 12px;
	border-top: 1px solid #b2b2b2;
	background-color: #fff;
}

/* remove top border for home page quicktabs tables */
.front .view .views-table .views-row-first td.views-field-field-event-datetime-value,
.front .view .views-table .views-row-first td.views-field-created,
.front .view .views-table .views-row-first td,
.front .squash .views-row-first td,
.front .quicktabs-tabpage table .views-row-first td {
	border-top: none;
}
/* and undo core thead styles */
.front .view .views-table thead th {border-bottom: none;}

.date-wrap-round,
.date-wrap-round a,
.date-wrap-round a:visited {
	background-color: #404040;
	color: #fff;
	font-family: Georgia, serif;
	font-size: 14px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 3px;
}

.date-day-numeric  {
	font-size: 16px;
	line-height: 22px;
}

.date-month-three-letter {
	font-size: 12px;
}

.page-events td.views-field-field-event-datetime-value-2 {
	padding: 30px 0;
}

.page-events td.views-field-nothing td .event-name {
	font-size: 16px;
}

.page-events-weekly-round-robin td.views-field-nothing td .event-name {
	font-size: 16px;
}

/* exposed widgets on events page */

.sidebar .views-exposed-widget input,
.sidebar .views-exposed-widget select,
.sidebar .views-exposed-widget select option {
	max-width: 230px;
}

#views-exposed-form-events-quicktabs-list-page-2 .views-exposed-form {
	
}

#views-exposed-form-events-quicktabs-list-page-2 .views-exposed-form .views-exposed-widget {
	padding: 0px;
}

#views-exposed-form-events-quicktabs-list-page-2 input#edit-event {
	width: 150px;
}



#views-exposed-form-events-quicktabs-list-page-2 #filter-date_filter {
	margin-bottom: 5px;
}

#views-exposed-form-events-quicktabs-list-page-2 #filter-date_filter .container-inline-date input.form-text {
	max-width: 100px;
}

#views-exposed-form-events-quicktabs-list-page-2 #filter-date_filter .container-inline-date {
	width: 49.5%;
	display: inline-block;
}

#views-exposed-form-events-quicktabs-list-page-2 #filter-date_filter .date-views-filter-wrapper {
	min-width: 1px; /*override date module's min-width of 150px */
}

#views-exposed-form-events-quicktabs-list-page-2 .container-inline-date .description {
	display: none;
}

#views-exposed-form-events-quicktabs-list-page-2 .views-exposed-widgets fieldset.collapsible {
	width: 125px;
	margin-top: 0;
}

#views-exposed-form-events-quicktabs-list-page-2 .views-exposed-widgets input#edit-submit-events-quicktabs-list,
#views-exposed-form-events-quicktabs-list-page-2 .views-exposed-widgets input#reset-form {

}
    
#quicktabs_container_6 td.views-field-field-event-tagline-value { /* also includes the event name */
	
}

#quicktabs_container_6 td.views-field-field-event-tagline-value a {
	font-size: 16px;
}

#quicktabs_container_6 td.views-field-field-event-tagline-value h3 { /* also includes the event name */
	margin: 0;
	font-weight: normal;
}

#quicktabs_container_6 td.views-field-field-event-image-fid{
	width: 45px;
}

#quicktabs_container_6 td.views-field-field-event-venue-nid {
	width: 220px;
}

#quicktabs_container_6 td.views-field-field-event-organizer-nid {
	width: 135px;
}

.date-clear-block {
	display: block;
}

.view-event-registrations.view-display-id-block_1 h3 {
	margin: 5px 0 0;
}

/* meet a board member block */
#block-views-board_list-block_1 .content {
	height: auto;
	margin: 0 5px;
	text-align: center;
	color: #000;
}

#block-views-board_list-block_1 p {
	margin-top: 0;
}

#block-views-board_list-block_1 div {
	margin: 0 auto;
}

#block-views-board_list-block_1 .views-field-realname a,
#block-views-board_list-block_1 .views-field-realname a:hover {
	color: #557198;
}

/* squash clubs locations map */
#gmap-auto1map-gmap0 .gmap-popup  div span  a,
#gmap-auto1map-gmap0 .gmap-popup  a: visited {
	color: #448CBE;
	font-weight: bold;
}

/* blog archive and archive per blogger block */
#block-views-blog_archive-block_1  li,
#block-views-blog_archive-block_2 li {

}

.views-field-created h3.blogger-name {
	margin: 0;
}

.views-field-created h3.blogger-name a,
.views-field-created h3.blogger-name a:visited {
	color: #fff;
	font-weight: bold;
}

.page-blogs td.views-field-created-1 {
	width: 100px !important;
}

/* default style for the date-box-wrapper */
.date-box-wrapper {
	background: transparent url(../images/icon-sprite.png) no-repeat 0 -130px;
	font-size: 15px;
	height: 67px;
	width: 51px;
	color: #262626;
	font-family: 'FagoNoRegular', 'FagoNoLfBold', sans-serif;
	position: absolute;
	margin: 5px 0 0 0;
/*	margin: 0 0 0 -65px;*/
	text-align: center;
}


/*.page-events .date-box-wrapper {
	padding: 15px 0 10px;
	width: 87px;
}*/

.view-events-quicktabs-list .date-box-wrapper,
.view-front-page-news .date-box-wrapper {
	padding: 5px 0;
}

/* default style for the date-box-day */
.date-box-day {
	color: #623b07;
	font-size: 28px;
	letter-spacing: -1px;
}

/* any uses of the day that need to override the default above */
/*.specific-class-or-id .date-box-day {} */
/*.view-events-quicktabs-list .date-box-day,
.view-front-page-news .date-box-day {
	font-size: 18px;
	padding-bottom: 0 !important;
}*/

/* default style for the date-box-month */
.date-box-month {
	color: #a3620a;
	text-transform: uppercase;
	display: block;
	line-height: 0.5em;
	padding: 9px 0 0;
	font-family: 'FagoNoLfBold', sans-serif;
	letter-spacing: 1px;
}

/* any uses of the month that need to override the default above */
/* .specific-class-or-id .date-box-month {} */

/* default style for the date-box-time */
.date-box-time {
	display: block;
	font-size: 16px;
	text-shadow: 0 -1px 1px #00405D;
	font-family: DezenProRegular,helvetica,sans-serif;
}

/* any uses of the time that need to override the default above */
/*.specific-class-or-id .date-box-time {} */

.page-events td.event-name h3,
.page-blogs td.views-field-markup h3,
.page-events td.views-field-markup h3 {
	margin: 20px 0px 0px 0px;
}


/*-- front page blog block ---*/
.front .view-feeds .views-field-field-user-profile-lname-value a {
	font-size: 14px;
	color: #333;
	margin-bottom: .4em; 
	padding: 2px 0px 3px; 
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'FagoNoLfBold';
}

.front .view-feeds h3 a {
 color: #a3620a;
}

.front .view-feeds h3 a:hover {
	color: #282829;
}
.front .view-feeds .views-row {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 13px;	
}

.front .view-feeds .views-row img {
	float: left;
	margin: 0 10px 0 0;
}

/*********************/
/***leagues tables ***/
/*********************/

.all-divisions .views-field-field-season-start-value,
.all-divisions .views-field-field-season-start-value2,
.all-divisions .views-field-field-division-num-teams-value ,
.all-divisions .views-field-field-division-num-tmatch-value ,
.all-divisions .views-field-field-division-num-tmatch-played-value {
	width: 58px;
	text-align: center;
}

/* agenda page */
.view-agenda-items table caption {
	font-size: 14px;
	text-align: left;
}

.view-agenda-items .view-title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 15px;
	color: #557198;
}

/* media/photos pages */
.page-media .view-gallery,
.page-media .view-gallery span {
	display: inline-block;
	border: 4px solid #fff;
}

.page-media .view-gallery span:hover {
	border: 4px solid #eee;
}

.page-media .view-header a {
  font-size: 1.2em;
}

.page-media img {
	display: block;
	margin: 0 auto;
}

.page-media #content-area > div.view-gallery,
.page-media #content-area > div.attachment {
	float: left;
	width: 49.5%;
	text-align: center;
}

.view-gallery td .view-empty {
	background-color: #94CCEC;
	height: 90px;
}

.view-gallery td .view-empty p {
	vertical-align: middle;
	text-align: center;
	padding: 15px;
}

.view-gallery td,
.view-Videos td {
	vertical-align: bottom;
	text-align: center;
	border: none;
}

.page-media .view-gallery h2 {
	clear: left;
}

.view-og td h2,
.view-gallery td h2, /* most pages use grids */
.page-media .view-gallery h2, /* landing page uses unformatted */
.view-Videos td h2, /* most pages use grids */
.view-event-tabs td h2,
.view-gallery td h2,
.view-uc-products td h2.title,
.page-media .view-gallery td div.views-field-title {
	margin: 0 auto;
	width: 184px; /* width + padding below = width of img preset, currently 214px */
	background-color: #eee;
	font-size: 1.2em;
	color: #557198;
	text-align: center;
}

.view-og td h2 a,
.view-gallery td h2 a,
.page-media .view-gallery h2 a, /* landing page uses unformatted */
.view-Videos td h2 a,
.view-event-tabs td h2 a,
.view-gallery td h2, /* colorbox linked, doesn't have the anchor IN it, but around it  >.<  */
.view-gallery td div.views-field-title a,
.view-uc-products td a h2.title,
.page-media .view-gallery div.views-field-title a /* landing page uses unformatted */ {
	padding: 10px 15px;	
	display: block;
	cursor: pointer;
}

.section-media #cboxLoadedContent h2 {
	text-align: center;
}

.view-uc-products td {
	text-align: center;
	border: none;
}

.node-type-clothing .field-field-clothing-image .field-item {
	display: inline;
}

/* remove padding from colorbox if it's used */
.view-og td h2 a.colorbox-inline,
.view-gallery td h2 a.colorbox-inline,
.page-media .view-gallery h2 a.colorbox-inline, /* landing page uses unformatted */
.view-Videos td h2 a.colorbox-inline,
.view-event-tabs td h2 a.colorbox-inline,
.view-gallery td div.views-field-title a.colorbox-inline, 
.page-media .view-gallery div.views-field-title a.colorbox-inline /* landing page uses unformatted */ {
	padding: 0;	
}

.view-gallery div.field-field-gallery-thumbnail {
	width: 174px;
	height: 90px;
	vertical-align: middle;
	display: table-cell;
}

/* sponsor block */
#block-views-sponsor_block-block_1  {
	padding: 5px;
}

#block-views-sponsor_block-block_1 .views-row {
	text-align: center;
	margin-top: 10px;
	width: 24.5%; /* for 4 results displayed, adjust as needed for 99% total (IE6 fix) */
}

#block-views-sponsor_block-block_1 h2.title {
	color: #262626;
	padding: 2px 0px 3px 8px;
	font-size: .9em;
	margin-bottom: .4em;
/*	border-bottom: 3px solid;*/
}

#block-views-sponsor_block-block_1 .views-field-field-organization-image-fid {
	width: 99px; /* width below + border */
	margin: 0 auto;
}

#block-views-sponsor_block-block_1 .views-field-field-organization-image-fid div.sponsor-img {
	display: table-cell;
	height: 80px;
	text-align: center;
	width: 80px;
	background-color: #fff;
	vertical-align: middle;
}

.sponsor-img * {
    vertical-align: middle;
}

/*\*//*/
.sponsor-img {
    display: block;
}
.sponsor-img span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/

.view-sponsor-block div.views-row {
	display: inline-block;
}

/** about/board page **/
#about-board td {
	text-align: center;
}

.upcoming table {margin-top: 0;}
.upcoming h3 {margin: 0;}

.upcoming .views-field-field-event-datetime-value { width: 200px;}

/** replace node view/edit/delete links with images **/
td.views-field-view-node,
td.views-field-edit-node,
td.views-field-delete-node,
td.views-field-contact,
td.views-field-field-document-file-fid-1 {
	width: 15px;
	padding: 0
}

.views-row {
	position: relative;
}

.views-field-edit-node a,
.views-field-edit-node a:active,
.views-field-edit-node a:focus {
	background: url("../images/edit-sm.png") 50% 50% no-repeat;
	text-indent: -10000px;
	height: 15px;
	display: block;
	outline: none;
	width: 15px;
	position: absolute;
	top: 0;
	right: 20px;
}

.views-field-delete-node a,
.views-field-delete-node a:active,
.views-field-delete-node a:focus {
	background: url("../images/delete-sm.png") 50% 50% no-repeat;
	text-indent: -10000px;
	height: 15px;
	width: 15px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

.views-field-view-node a,
.views-field-view-node a:active,
.views-field-view-node a:focus {
	background: url("../images/view-sm.png") 50% 50% no-repeat;
	text-indent: -10000px;
	height: 15px;
	display: block;
	outline: none;
	position: absolute;
	top: 0;
	right: 40px;
}

table.views-table .views-field-edit-node a,
table.views-table .views-field-edit-node a:active,
table.views-table .views-field-edit-node a:focus,
table.views-table .views-field-view-node a,
table.views-table .views-field-view-node a:active,
table.views-table .views-field-view-node a:focus,
table.views-table .views-field-delete-node a,
table.views-table .views-field-delete-node a:active,
table.views-table .views-field-delete-node a:focus {
	position: relative;
	top: 0;
	right: 0;
}

.views-field-field-document-file-fid-1 a,
.views-field-field-document-file-fid-1 a:active,
.views-field-field-document-file-fid-1 a:focus {
	background: url("../images/save-sm.gif") 50% 50% no-repeat;
	text-indent: -10000px;
	height: 15px;
	display: block;
	width:  15px;
	position:  absolute;
	top: 0;
	right: 42px;
}

.views-field-contact a {
	background: url("../images/email.gif") 55% 50% no-repeat;
	text-indent: 6px;
	height: 15px;
	display: block;
}

.views-field-field-profile-blog-website-value {
	padding: 5px;
}

/* make text vertically centered inline with image in same cell */
.views-table td img {vertical-align: middle;}

.view-divsions table thead,
.view-divsions table thead tr,
.view-divsions table thead th {
	height: 0;
	padding: 0;
}

.view-member-write-up-page h3 {
	margin: 3px;
}

.view-member-write-up-page.view-display-id-page_1 td {
	padding: 15px;
}

.view-member-write-up-page .views-field-field-profile-member-writeup-value p {
	margin: 2px;
}

.view-member-write-up-page .views-field-markup {
	float: right;
	padding-right: 25px;
}

.view .views-table .event-list-event-type-field td {
	border: none;
	padding: 0;
}

.views-exposed-widget fieldset {
	border: none;
	padding: 0;
}

.views-exposed-form .views-exposed-widget {
	margin: 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 10px;
}

#block-views-events_quicktabs_list-block_5 {
	
}

.sidebar .block input {
	max-width: 230px;
}

#views-exposed-form-user-list-block-1 label {
	
}

#views-exposed-form-user-list-block-1 label {
	font-weight: normal;
}


/**********************/
/**** groups pages ****/
/**********************/

.view-og td {
	text-align: center;
}

/**********************/
/***squash tables *****/
/**********************/
/*.squash thead th {
	font-size: 12px;
}*/

.squash td.match-number {
	width: 30px;
}

.squash .links {
	width: 70px;
}

/* front page singles league block */
.front td.views-field-field-division-skill-value {
	width: 100px;
}

.front td.views-field-field-event-venue-nid {

}

.front td.views-field-field-team-name-value {

}

.front td.views-field-field-team-captain-uid {

}

.view-bloggers table.views-view-grid {
	margin-top: 15px;
}

.view-bloggers td {
	width: 49.5%;
	padding-bottom: 25px;
}

.view-bloggers .views-field-phpcode {
	float: left;
	margin-right: 10px;
	height: 65px;
}

.view-filters {
	margin-bottom: 30px;
}

.event-date {
  background: transparent url(../images/icon-sprite.png) no-repeat 0 -130px;
	font-size: 15px;
	height: 67px;
	width: 51px;
	color: #262626;
	font-family: 'FagoNoRegular', 'FagoNoLfBold', sans-serif;
	position: absolute;
	margin: 0 0 0 -60px;
	text-align: center;
	zoom: 1;
}

.event-date .month {
	color: #a3620a;
	text-transform: uppercase;
	display: block;
	line-height: 0.5em;
	padding: 9px 0 0;
	font-family: 'FagoNoLfBold', sans-serif;
	letter-spacing: 1px;
}

.event-date .day {
	color: #623b07;
	font-size: 28px;
	letter-spacing: -1px;
}

.event-date .time {
	font-size: 13px;
	display: block;
	padding-top: 7px;
}

.view-weekly-round-robins .event-date .day {
	display: block;
	font-size: 23px;
	padding: 10px 0;
}

.view-all-events .views-row,
.view-front-page-news .views-row,
.view-weekly-round-robins .views-row,
#block-views-venue_tabs-block_11 .views-row {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 13px;
}

.front .view-feeds .views-row-last,
.view-all-events .views-row-last,
.view-front-page-news .views-row-last,
.view-weekly-round-robins .views-row-last,
#block-views-venue_tabs-block_11 .views-row-last {
	border-bottom: none;
	margin-bottom: none;
}

h2#featured-name {
	margin: 0 0 5px 0;
	font-size: 1.2em;
	font-weight: normal;
	line-height: .5em;
}

h2#featured-name a {
	color: #1975D1;
}

#featured-organizer {
	font-style: italic;
	color: #404040;
}

#featured-info span {
	display: block;
	font-size:.9em;
}

span#featured-tagline {
/*	font-style: italic;*/
	color: #404040;
}

span#featured-signup {

}

#featured-signup a {
	padding: 3px 7px;
	background-color: #7EC376;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	margin-top:31px;
	border: 1px solid #fff;
}

#featured-img {
	margin: 0 10px;
}

/* custom block styles (mostly defined by rewriting views output) */
.block .block-contents {
  display: block;
  margin-top: 10px;
  padding: 0;
}

.block-contents {}
.block-contents h3.block-header {}
.block-contents .header-bold {}
.block-contents .block-data {}
.block-contents .block-data img {}
.block-contents a.block-data-title {}
.block-contents a.block-more {}

h3.block-header, 
h4.block-header,
h3.block-data a, 
h4.block-data a,
h4.block-data {
  font-weight: normal;
  margin: 0;
}

h3.block-header {
/*  border-bottom: 1px solid #D6E0E5;*/
  color: #67788C;
  font-size: 19px;
  letter-spacing: -1px;
/*  margin-bottom: 8px;*/
  position: relative;
  text-transform: uppercase;
}

.block-header a {
  color: #67788C;
  text-decoration: none;
}

.block-header span.block-header-bold {
  color: #1A303A;
  font-weight: bold;
}

/*.block a, .block a:visited {
  color: #282829;
  text-decoration: none;
}
.block a:hover {
	color: #a3620a;
}*/

.block-contents .block-data img {
  float: left;
  margin-right: 12px;
  vertical-align: normal;
}

a.block-data-title,
.block-data-title a,
.views-field-field-event-name-value a,
.front .view-feeds .views-field-title a,
#home_row_featured .views-field-title h2.title,
.page-blogs .view-feeds .views-row .views-field-title a {
  display: block;
  font-size: 23px;
  margin: 5px 0;
  font-weight: normal;
  color: #a3620a;
  font-family: 'FagoCoMediumBold', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a.block-data-title:hover,
.block-data-title a:hover,
.views-field-field-event-name-value a:hover,
.front .view-feeds .views-field-title a:hover {
	color: #282829;
	text-decoration: underline;
}

.view-all-events .views-field-markup,
#featured .views-field-markup,
.view-events-quicktabs-list .views-field-markup,
.view-weekly-round-robins .views-field-markup,
.view-venue-tabs .views-field-markup {
	padding: 0 0 8px 60px;
	position: relative;
	min-height: 60px;
	font-size: 13px;
}

#featured #featured-image {
	float: left; 
	margin: 0 10px 0 0;
}

#featured h2 {
	margin: 13px 0 8px;
}

.block-contents .block-data a.block-more {
  color: #768E9C;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

/*---bloggers view---*/
#block-views-bloggers-block_1 h2 {
	color: #282829;
	font-size: 14px;
	margin: 12px 0 0px;
	font-family: 'FagoNoLfBold', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

.view-bloggers .views-row {
	padding: 2%;
	border-right: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	width: 45%;
	float: left;
	font-size: 13px;
	height: 70px;
}
.view-bloggers .views-row-even {
  margin-right: 0;
  border-right: none;
}
.view-bloggers .views-row-3,
.view-bloggers .views-row-4 {
	border-bottom: none;
	margin-bottom: 15px;
}

.view-bloggers .views-row a {
	display: block;
	font-size: 23px;
	margin: 0 0 5px;
	font-weight: normal;
	color: #a3620a;
	font-family: 'FagoCoMediumBold', sans-serif;
	-webkit-font-smoothing: antialiased;
}
.page-blogs .view-feeds {
  clear: both;
	border-top: 1px dotted #999;
	padding-top: 12px;
}

/*---- meet out members ----*/
.view-member-write-up-page .views-field-title-1 img {
	vertical-align: middle;
}

.view-member-write-up-page.view-display-id-page_1  .view-header {
	padding-bottom: 12px;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 12px;
}

#content .view-member-write-up-page.view-display-id-page_1 .views-row {
	float: left;
	padding: 10px 10px 10px 70px;
	position: relative;
	width: 39.4%;
	height: 110px;
	border-bottom: 1px dotted #ccc;
}

#content .view-member-write-up-page.view-display-id-page_1 .views-row-even {
  float: right;
}

#content .view-member-write-up-page.view-display-id-page_1 .views-row img {
  position: absolute;
  margin: 5px 0 0 -70px;
}

#content .view-member-write-up-page h3 {
	font-size: 23px;
	font-weight: normal;
	color: #a3620a;
	font-family: 'FagoCoMediumBold', sans-serif;
	-webkit-font-smoothing: antialiased;
}

#content .view-member-write-up-page.view-display-id-page_2 .views-row {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#content .view-member-write-up-page.view-display-id-page_2 .views-row p {
  margin: 15px 0;
}

#content .view-member-write-up-page.view-display-id-page_2 .views-row img {
 float: left; 
 margin: 5px 10px 10px 0;
}


#content .view-member-write-up-page.view-display-id-page_2 .attachment h3 {
	color: #282829;
	font-size: 14px;
	margin: 0 0 12px 0;
	font-family: 'FagoNoLfBold', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
